.col-center-block {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

body{
    /*background-color: #dddddd;*/
    /*background: url("../images/paperback.png") repeat;*/
    /*background: url("../images/wirelessIndex.jpg") repeat-y;*/
    background: linear-gradient(75deg,  rgba(2, 190, 255, 0.99),#06ffab);
}

.bgwhite{
    background-color: white;
    padding: 30px;
}

.clear{
    clear: both;
}
/*------------------------------------header--------------------------------*/
.button-3d{
    color: black;
}
.button-info{
    background-color: #4af7e7;
    border-color: #4aeeff;
    color: #FFF;
    -webkit-box-shadow: 0 7px 0 #34a597, 0 8px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 7px 0 #31a195, 0 8px 3px rgba(0, 0, 0, 0.3);
}
.button-yellow{
    background-color: #f7f136;
    border-color: #fff560;
    color: #FFF;
    -webkit-box-shadow: 0 7px 0 #b6b028, 0 8px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 7px 0 #bab04a, 0 8px 3px rgba(0, 0, 0, 0.3);
}
.nav-link{
    color: black;
}
.navbar-default .navbar-nav>li>a{
    color: #000000;
    font-weight: 600;
}

/*footer-------------------------------------------------------------------*/
.footer{
    font-size: 16px;
    color: #4a4a4a;
}
/*indexPage----------------------------------------------------------------------*/
.widthMax {
    /*width: 80%;*/
    max-width: 1200px;
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.indexPage {
    background: url("../images/homepage/mt.jpg") no-repeat;
    opacity: 1.0;
    /*background: transparent;*/
    /*background: linear-gradient(75deg, #00E39F, #00C4E1);*/
    background-size: 100% 100%
;
}
.indexImg{
    width: 100%;
    height: auto;
    z-index: -2;
}
.indexText{
    /*width: 40%;*/
    position: relative;
    /*padding-left: 100px;*/
    padding-top: 70px;
}
.indexText h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 40px;
    color: #000000;
}

.indexText p{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    color: #000000;
}
.white{
    color: white;
}
.indexWifi{
    /*margin: 100px 200px 50px;*/
    /*position: relative;*/
    padding-left: 80px;
    padding-top: 30px;
}

.indexBook{
    /*margin: 100px 200px 50px;*/
    /*position: relative;*/
    padding-left: 120px;
    padding-top: 100px;
}

.index-block-group{
    margin-top: 30px;
}

.indexBlockButton{
    /*margin:5%;*/
    float: left;
    width:100%;
    height: 200px;
}

.whats-new {
    margin: 5px;
    font-size: large;
}
/*Student Work-------------------------------------------------------------------------*/
.classType{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 30px;
    float: left;
    width:300px;
    height: 280px;
}

.centerA{
    width:1010px;
    height: 324px;
    margin-left: auto;
    margin-right: auto;
}
.classType1{
    margin:3px;
    float: left;
    width:330px;
    height: 200px;
}

.zoomimg {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.zoomimg:hover{

    -webkit-transform: rotate(0deg) scale(1.1);
    -moz-transform: rotate(0deg) scale(1.1);
    -o-transform: rotate(0deg) scale(1.1);
    -ms-transform: rotate(0deg) scale(1.1);
    transform: rotate(0deg) scale(1.1) skew(0deg,0deg);
    transform-origin: center;
    z-index: 2;
}

.pptType{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 30px;
    float: left;
    width:300px;
    height: 380px;
}

.autoSize{
    width: 100%;
    height: 100%;
}

.proText{
    line-height: 17pt;
}

.freshType{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 30px;
    float: left;
    width:300px;
    height: 150px;
}

.freshType1{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;
    float: left;
    width:300px;
    height: 120px;
}

.totleType{
    margin-left: 135px;
    margin-right:135px;
    margin-top: 30px;
    float: left;
    width:300px;
    height: 300px;
}

.proIcon {
    width: 20px;
    height:20px;
}
.proIconpdf {
    width: 22px;
    height:15px;
}

.best-pre {
    width: 700px;
    margin: 30px auto 30px;


}

.best-pre a {
    background-color: rgba(255, 65, 67, 0.9);
    width: 100%;
}

.black {
    color: black;
    font-size: 20px;
}

.midterm-list {
    font-weight: 600;
}

.short{
    padding-left: 15px;
    padding-right: 19px;
}

/* -----------------------------------------School List-------------------------*/
.schoolType{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    float: left;
    width:240px;
    height: 305px;
}

.panel-body h3 {
    position: relative;
    top: -50px;
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 12px 20px;
    width: 100%;
    background: #939393;
    color: #fff;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 800;
    font-size: 1em;
    -webkit-transition: -webkit-transform 0.2s, background 0.2s;
    transition: transform 0.2s, background 0.2s;
}

.panel-body h3:hover {
    background: #70bef3;
    color: #fff;
}