doctype

<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="imagetoolbar" content="no" />
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
<link rel="stylesheet" href="css/myself.css" type="text/css" />
<link rel="stylesheet" href="css/buttons.css" type="text/css" />

block vars
title #{title}

<script type="text/javascript" src="js/jquery-2.2.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
</head>
body(id="top")
    div.widthMax
        block content

</html>