nav.navbar.navbar-default.navbar-inverse
    div.container-fluid
        //navbar-header
        div.navbar-header
            a.navbar-brand(href="index.html") Wireless Course

        //links
        div.collapse.navbar-collapse
            ul.nav.navbar-nav
                li
                    a.button.button-3d.button-inverse(href="GeneralInfo.html") General Info
                li
                    a.button.button-3d.button-inverse(href="Schedule.html") Schedule & Requirements
                li
                    a.button.button-3d.button-inverse(href="Announcements.html") Announcements
                li
                    a.button.button-3d.button-inverse(href="#") Projects
                li
                    a.button.button-3d.button-inverse(href="Resources.html") Resources
