nav.navbar.navbar-default
        //navbar-header
        div.navbar-header
            a.navbar-brand(href="index.html") Wireless Course

        //links
        div.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
                li
                    a.nav-link.button.button-3d.button-primary(href="GeneralInfo.html") General Info
                li
                    a.nav-link.button.button-3d.button-action(href="Schedule.html") Schedule & Requirements
                li
                    a.nav-link.button.button-3d.button-highlight(href="Announcements.html") Announcements
                li
                    a.nav-link.button.button-3d.button-yellow(href="Projects.html") Projects
                li
                    a.nav-link.button.button-3d.button-caution(href="Resources.html") Resources
                li
                    a.nav-link.button.button-3d.button-info(href="studentwork.html") Student Work
