nav.navbar.navbar-default
        //navbar-header
        div.navbar-header
            img.headerImg(src="images/slidelogo.png")
            a.navbar-brand(href="index.html")
                //p.headerText1 SHANGHAI JIAO TONG UNIVERSITY
                p.headerText2 |WIRELESS <br> |COUSRE

            //links
        div#nav
            div.container.center-block
                ul.nav.nav-tabs.nav-justified
                    li
                        a.nav-link(href="index.html")
                            span.glyphicon.glyphicon-home &nbsp;
                            strong Home
                    li
                        a.nav-link(href="GeneralInfo.html")
                            span.glyphicon.glyphicon-info-sign &nbsp;
                            strong General Info
                    li
                        a.nav-link(href="studentwork.html")
                            span.glyphicon.glyphicon-flag &nbsp;
                            strong Student Work
                    li
                        a.nav-link(href="schoolList.html")
                            span.glyphicon.glyphicon-th &nbsp;
                            strong School List
                    li
                        a.nav-link(href="Labs.html")
                            span.glyphicon.glyphicon-wrench &nbsp;
                            strong Labs

                    li.dropdown
                        a.nav-link.dropdown-toggle(href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
                            span.glyphicon.glyphicon-option-horizontal &nbsp;
                            strong More
                        ul.dropdown-menu
                            li
                                a.nav-link(href="Schedule.html")
                                    span.glyphicon.glyphicon-blackboard &nbsp;
                                    strong Schedule
                            li
                                a.nav-link(href="Projects.html")
                                    span.glyphicon.glyphicon-grain &nbsp;
                                    strong Projects
                            li
                                a.nav-link(href="Resources.html")
                                    span.glyphicon.glyphicon-cloud-download &nbsp;
                                    strong Resources

