extends _base

block vars
    -var title = "Announcements"



block content
    include _header
    div.container.bgwhite
        h1.text-center Announcements
        strong March 6
        p This is to acknowledge that many slides (will be ) used in this class are based on the slides of books (other than the textbook, e.g., Jochen Schiller), faculty members (e.g., Dr. Wenye Wang and Dr. Sichitiu at NC State University, Dr. H'mimy at SMU, and more ), even from conference presentations, and so on.
        strong March 21
        p This is to acknowledge the projects design draft from Dr. Wenye Wang and Dr. Sichitiu at NC State University
    include _footer