extends _base

block vars
    -var title = "Student Work"

block content
    include _header
    div.container.proText
        h1.text-center.white Freshman Class
        br

        h3.text-center.white From : 徐子涵
        video.col-center-block(src="material/video/Freshman_2018/徐子涵.mp4" controls="controls" height="400px")
        br
        h3.text-center.white From : 程若愚
        video.col-center-block(src="material/video/Freshman_2018/程若愚.mp4" controls="controls" height="400px")
        br
        h3.text-center.white From : 陈天辰
        video.col-center-block(src="material/video/Freshman_2018/陈天辰.mp4" controls="controls" height="400px")
        br
        h3.text-center.white From : 顾诗轩
        video.col-center-block(src="material/video/Freshman_2018/顾诗轩.mp4" controls="controls" height="400px")
        br


        br.clear

    include _footer