extends _base

block vars
    -var title = "Student Work"

block content
    include _header
    div.container.proText
        h1.text-center.white Freshman IEEE Class
        br
        div.alert.alert-info.freshType
            h3 Group1:Physicas Lab Calculator
            a.button.short.button-glow.button-border.button-rounded.button-action(href="material/Final2017/Freshman/1/slides.pdf") PPT
            |&nbsp;&nbsp;&nbsp;&nbsp;
            a.button.short.button-glow.button-border.button-rounded.button-action(href="material/Final2017/Freshman/1/report.pdf") Report
            |&nbsp;&nbsp;&nbsp;&nbsp;
            a.button.short.button-glow.button-border.button-rounded.button-primary(href="material/Final2017/Freshman/1/code.rar") Code
        div.alert.alert-success.freshType
            h3 Group2:Change Clothes
            a.button.short.button-glow.button-border.button-rounded.button-action(href="material/Final2017/Freshman/2/slides.pptx") PPT
            |&nbsp;&nbsp;&nbsp;&nbsp;
            a.button.short.button-glow.button-border.button-rounded.button-action(href="material/Final2017/Freshman/2/report.pdf") Report
            |&nbsp;&nbsp;&nbsp;&nbsp;
            a.button.short.button-glow.button-border.button-rounded.button-primary(href="material/Final2017/Freshman/2/code.rar") Code
        div.alert.alert-warning.freshType
            h3 Group3:Task Manager
            a.button.short.button-glow.button-border.button-rounded.button-action(href="material/Final2017/Freshman/3/slides.pdf") PPT
            |&nbsp;&nbsp;&nbsp;&nbsp;
            a.button.short.button-glow.button-border.button-rounded.button-action(href="material/Final2017/Freshman/3/report.pdf") Report
            |&nbsp;&nbsp;&nbsp;&nbsp;
            a.button.short.button-glow.button-border.button-rounded.button-primary(href="material/Final2017/Freshman/3/code.zip") Code
        div.alert.alert-danger.freshType
            h3 Group4:Gravity Snake
            a.button.short.button-glow.button-border.button-rounded.button-action(href="material/Final2017/Freshman/4/slides.pdf") PPT
            |&nbsp;&nbsp;&nbsp;&nbsp;
            a.button.short.button-glow.button-border.button-rounded.button-action(href="material/Final2017/Freshman/4/report.pdf") Report
            |&nbsp;&nbsp;&nbsp;&nbsp;
            a.button.short.button-glow.button-border.button-rounded.button-primary(href="material/Final2017/Freshman/4/code.rar") Code
        div.alert.alert-info.freshType
            h3 Group5:Bonus or Mine
            a.button.short.button-glow.button-border.button-rounded.button-action(href="material/Final2017/Freshman/5/slides.pptx") PPT
            |&nbsp;&nbsp;&nbsp;&nbsp;
            a.button.short.button-glow.button-border.button-rounded.button-action(href="material/Final2017/Freshman/5/report.pdf") Report
            |&nbsp;&nbsp;&nbsp;&nbsp;
            a.button.short.button-glow.button-border.button-rounded.button-primary(href="material/Final2017/Freshman/5/code.zip") Code
        div.alert.alert-success.freshType
            h3 Group6:T-Manage
            a.button.short.button-glow.button-border.button-rounded.button-action(href="material/Final2017/Freshman/6/slides.pdf") PPT
            |&nbsp;&nbsp;&nbsp;&nbsp;
            a.button.short.button-glow.button-border.button-rounded.button-action(href="material/Final2017/Freshman/6/report.pdf") Report
            |&nbsp;&nbsp;&nbsp;&nbsp;
            a.button.short.button-glow.button-border.button-rounded.button-primary(href="material/Final2017/Freshman/6/code.rar") Code
        div.alert.alert-warning.freshType
            h3 Group7:Music Game
            a.button.short.button-glow.button-border.button-rounded.button-action(href="material/Final2017/Freshman/7/slides.pdf") PPT
            |&nbsp;&nbsp;&nbsp;&nbsp;
            a.button.short.button-glow.button-border.button-rounded.button-action(href="material/Final2017/Freshman/7/report.pdf") Report
            |&nbsp;&nbsp;&nbsp;&nbsp;
            a.button.short.button-glow.button-border.button-rounded.button-primary(href="material/Final2017/Freshman/7/code.rar") Code
        div.alert.alert-danger.freshType
            h3 Group8:WordMap
            a.button.short.button-glow.button-border.button-rounded.button-action(href="material/Final2017/Freshman/8/slides.pptx") PPT
            |&nbsp;&nbsp;&nbsp;&nbsp;
            a.button.short.button-glow.button-border.button-rounded.button-action(href="material/Final2017/Freshman/8/report.pdf") Report
            |&nbsp;&nbsp;&nbsp;&nbsp;
            a.button.short.button-glow.button-border.button-rounded.button-primary(href="material/Final2017/Freshman/8/code.zip") Code
        div.alert.alert-info.freshType
            h3 Group9:Laundry Assistant
            a.button.short.button-glow.button-border.button-rounded.button-action(href="material/Final2017/Freshman/9/slides.pptx") PPT
            |&nbsp;&nbsp;&nbsp;&nbsp;
            a.button.short.button-glow.button-border.button-rounded.button-action(href="material/Final2017/Freshman/0/report.pdf") Report
            |&nbsp;&nbsp;&nbsp;&nbsp;
            a.button.short.button-glow.button-border.button-rounded.button-primary(href="material/Final2017/Freshman/9/code.zip") Code
        div.alert.alert-success.freshType
            h3 Group10:Android Tex
            a.button.short.button-glow.button-border.button-rounded.button-action(href="material/Final2017/Freshman/10/slides.pptx") PPT
            |&nbsp;&nbsp;&nbsp;&nbsp;
            a.button.short.button-glow.button-border.button-rounded.button-action(href="material/Final2017/Freshman/10/report.pdf") Report
            |&nbsp;&nbsp;&nbsp;&nbsp;
            a.button.short.button-glow.button-border.button-rounded.button-primary(href="material/Final2017/Freshman/10/code.rar") Code
        div.alert.alert-warning.freshType
            h3 Group11:Seeing-Eye Dog
            a.button.short.button-glow.button-border.button-rounded.button-action(href="material/Final2017/Freshman/11/slides.pdf") PPT
            |&nbsp;&nbsp;&nbsp;&nbsp;
            a.button.short.button-glow.button-border.button-rounded.button-action(href="material/Final2017/Freshman/11/report.pdf") Report
            |&nbsp;&nbsp;&nbsp;&nbsp;
            a.button.short.button-glow.button-border.button-rounded.button-primary(href="material/Final2017/Freshman/11/code.zip") Code
        div.alert.alert-danger.freshType
            h3 Group12:Family Tree
            a.button.short.button-glow.button-border.button-rounded.button-action(href="material/Final2017/Freshman/12/slides.pptx") PPT
            |&nbsp;&nbsp;&nbsp;&nbsp;
            a.button.short.button-glow.button-border.button-rounded.button-action(href="material/Final2017/Freshman/12/report.pdf") Report
            |&nbsp;&nbsp;&nbsp;&nbsp;
            a.button.short.button-glow.button-border.button-rounded.button-primary(href="") Code
        div.alert.alert-info.freshType
            h3 Group13:Kanvas
            a.button.short.button-glow.button-border.button-rounded.button-action(href="material/Final2017/Freshman/13/slides.pptx") PPT
            |&nbsp;&nbsp;&nbsp;&nbsp;
            a.button.short.button-glow.button-border.button-rounded.button-action(href="material/Final2017/Freshman/13/report.pdf") Report
            |&nbsp;&nbsp;&nbsp;&nbsp;
            a.button.short.button-glow.button-border.button-rounded.button-primary(href="material/Final2017/Freshman/13/code.zip") Code
        div.alert.alert-success.freshType
            h3 Group14:Memo
            a.button.short.button-glow.button-border.button-rounded.button-action(href="material/Final2017/Freshman/14/slides.ppt") PPT
            |&nbsp;&nbsp;&nbsp;&nbsp;
            a.button.short.button-glow.button-border.button-rounded.button-action(href="material/Final2017/Freshman/14/report.pdf") Report
            |&nbsp;&nbsp;&nbsp;&nbsp;
            a.button.short.button-glow.button-border.button-rounded.button-primary(href="material/Final2017/Freshman/14/code.zip") Code
        div.alert.alert-warning.freshType
            h3 Group15:Minesweeper
            a.button.short.button-glow.button-border.button-rounded.button-action(href="material/Final2017/Freshman/15/slides.ppt") PPT
            |&nbsp;&nbsp;&nbsp;&nbsp;
            a.button.short.button-glow.button-border.button-rounded.button-action(href="material/Final2017/Freshman/15/report.docx") Report
            |&nbsp;&nbsp;&nbsp;&nbsp;
            a.button.short.button-glow.button-border.button-rounded.button-primary(href="material/Final2017/Freshman/15/code.rar") Code


    include _footer