extends _base

block vars
    -var title = "Student Work"

block content
    include _header
    div.container.proText
        h1.text-center.white Freshman Class
        br

        h3.text-center.white From : 郭含熙
        video.col-center-block(src="material/video/Freshman_2017/郭含熙.mp4" controls="controls" height="400px")
        br
        h3.text-center.white From : 李正一
        video.col-center-block(src="material/video/Freshman_2017/李正一.mp4" controls="controls" height="400px")
        br
        h3.text-center.white From : 唐昊天
        video.col-center-block(src="material/video/Freshman_2017/唐昊天.mp4" controls="controls" height="400px")
        br
        h3.text-center.white From : 童威霖
        video.col-center-block(src="material/video/Freshman_2017/童威霖.mp4" controls="controls" height="400px")
        br
        h3.text-center.white From : 颜铭萱
        video.col-center-block(src="material/video/Freshman_2017/颜铭萱.mp4" controls="controls" height="400px")
        br

        br.clear

        div.center
            //a.button.button-pill.button-glow.button-3d(href="http://pan.baidu.com/s/1skPZlil")  Watch more students' work >>
        hr

    include _footer