extends _base

block vars
    -var title = "Student Work"

block content
    include _header
    div.container.proText
        h1.text-center.white Freshman Class
        br

        h3.text-center.white From : 沈昱憬
        video.col-center-block(src="material/video/Freshman/沈昱憬.mp4" controls="controls" height="400px")
        br
        h3.text-center.white From : 司成良
        video.col-center-block(src="material/video/Freshman/司成良.mp4" controls="controls" height="400px")
        br
        h3.text-center.white From : 吴宪泽
        video.col-center-block(src="material/video/Freshman/吴宪泽.mp4" controls="controls" height="400px")
        br
        h3.text-center.white From : 李明翔
        video.col-center-block(src="material/video/Freshman/李明翔.mp4" controls="controls" height="400px")
        br
        h3.text-center.white From : 杜嘉桐
        video.col-center-block(src="material/video/Freshman/杜嘉桐.mp4" controls="controls" height="400px")
        br

        br.clear

        div.center
            a.button.button-pill.button-glow.button-3d(href="http://pan.baidu.com/s/1skPZlil")  Watch more students' work >>
        hr

    include _footer