extends _base

block vars
    -var title = "Homepage"



block content
    include _header
    div.container-fluid.indexPage
        div.alert.alert-info.whats-new
            em
                strong What's New : &nbsp;
                span Add World-wide Schools' courses to School List and update our course information !
        div.container
            div.col-xs-6.col-xs-push-1.indexText.text-left
                h1
                    strong Wireless Communication and Mobile Networks
                br
                p
                    strong This course provides an introduction to wireless networking, including fundamental principles, architectures, and techniques.
            //div.col-xs-5.indexWifi
                img(src='images/homepage/wifi.png')
            div.col-xs-6.indexBook
                a(href = 'https://list.tmall.com/search_shopitem.htm?q=%D2%C6%B6%AF%BB%A5%C1%AA%CD%F8%B5%BC%C2%DB&cat=2&user_id=1614846122&sort=s&stype=search')
                    div(style="float:left")
                        img(src='images/homepage/book1st.png' width='150px')
                        h6.text-center
                            strong First Edition
                    div(style="float:left")
                        img(src='images/homepage/book2nd.png' width='150px')
                        h6.text-center
                            strong Second Edition
                    br.clear
                    h4 Textbook:<strong>《Introduction to Mobile Internet》</strong>has been published !<br>

        div.container.index-block-group
            div.col-xs-4
                a.zoomimg.indexBlockButton(href='schoolList.html')
                    img.img-thumbnail.autoSize(src='images/homepage/schoollist.jpg')
            div.col-xs-4
                a.zoomimg.indexBlockButton(href='GeneralInfo.html')
                    img.img-thumbnail.autoSize(src='images/homepage/courseinfo.jpg')
            div.col-xs-4
                a.zoomimg.indexBlockButton(href='studentwork.html')
                    img.img-thumbnail.autoSize(src='images/homepage/studentwork.png')
        br
        br

        include _footer



