extends _base

block vars
    -var title = "Homepage"



block content
    include _header
    div.container-fluid.indexPage
        //div.alert.alert-info.whats-new
            em
                strong What's New : &nbsp;
                span Add World-wide Schools' courses to School List and update our course information !
        div.container
            div.col-xs-6.col-xs-push-1.indexText.text-left
                h1
                    strong Wireless Communication and Mobile Networks
                br
                p
                    strong This course provides an introduction to wireless networking, including fundamental principles, architectures, and techniques.
            //div.col-xs-5.indexWifi
                img(src='images/homepage/wifi.png')
            div.col-xs-6.indexBook
                a(href = 'https://list.tmall.com/search_shopitem.htm?q=%D2%C6%B6%AF%BB%A5%C1%AA%CD%F8%B5%BC%C2%DB&cat=2&user_id=1614846122&sort=s&stype=search')
                    div(style="float:left")
                        img(src='images/homepage/book1st.png' width='150px')
                        h6.text-center
                            strong First Edition
                    div(style="float:left")
                        img(src='images/homepage/book2nd.png' width='150px')
                        h6.text-center
                            strong Second Edition
                    br.clear
                    h4 Textbook:<strong>《Introduction to Mobile Internet》</strong>has been published !<br>

        hr
        div.container
            div.col-xs-4
                a.zoomimg.indexBlockButton(href='GeneralInfo.html')
                    img.img-thumbnail.autoSize(src='images/homepage/courseinfo.jpg')

            div.col-xs-8
                h2.text-center
                    span.glyphicon.glyphicon-info-sign &nbsp;
                    strong Course Information
                p.itemText The basic principles of wireless communication are provided and multiple different applications of wireless communication system and mobile networks are introduced, including cellular networks, mobile IP, wireless LAN, satellite systems, ad-hoc networks, sensor networks, wireless PAN, etc.
        hr
        div.container
            div.col-xs-4
                a.zoomimg.indexBlockButton(href='studentwork.html')
                    img.img-thumbnail.autoSize(src='images/homepage/studentwork.png')
            div.col-xs-8
                h2.text-center
                    span.glyphicon.glyphicon-flag &nbsp;
                    strong Student Work
                p.itemText We collect and sort out all the homework from 2008 to now. Ten years accumulation, ten years precipitation. Many student achievements have been published in internationally renowned journals and conferences. We are committed to the combination of teaching and practice, and always stand in the forefront of the field.
        hr
        div.container
            div.col-xs-4
                a.zoomimg.indexBlockButton(href='schoolList.html')
                    img.img-thumbnail.autoSize(src='images/homepage/schoollist.jpg')

            div.col-xs-8
                h2.text-center
                    span.glyphicon.glyphicon-th &nbsp;
                    strong School List
                p.itemText We combine dozens of well-known universities nationwide and collect world-famous courses to jointly build wireless courses platform. From here, you can find a wider range of curriculum resources, more convenient course management, and more systematic curriculum display.

        include _footer



