extends _base

block vars
    -var title = "Homepage"



block content
    div.indexPage
        include _header
        div.indexText.text-left
            h1.text-capitalize principles Wireless communication and mobile networks
            br
            p This course provides an introduction to wireless networking, including fundamental principles, architectures, and techniques.
            br
            a.button.button-primary.button-raised.button-pill.white(href="GeneralInfo.html") Learn more about courses
            br
            br
            a.button.button-primary.button-raised.button-pill.white(href="studentwork.html") Student Work
            br
        include _footer


