extends _base

block vars
    -var title = "Homepage"



block content
    include _header
    div.container-fluid.indexPage
        div.container
            div.col-xs-6.col-xs-push-1.indexText.text-left
                h1.text-capitalize
                    strong Wireless communication and mobile networks
                br
                p
                    strong This course provides an introduction to wireless networking, including fundamental principles, architectures, and techniques.
            //div.col-xs-5.indexWifi
                img(src='images/homepage/wifi.png')
            div.col-xs-6.indexBook
                a(href = 'https://detail.tmall.com/item.htm?spm=a220m.1000858.1000725.1.M8jhQs&id=528774171430&areaId=110100&user_id=2455124912&cat_id=2&is_b=1&rn=582fad9da041797dbb844e7693dacaf7')
                    div(style="float:left")
                        img(src='images/homepage/book1st.png' width='150px')
                        h6.text-center
                            strong First Edition
                    div(style="float:left")
                        img(src='images/homepage/book2nd.png' width='150px')
                        h6.text-center
                            strong Second Edition
                    br.clear
                    h4 Textbook:<strong>《Introduction to Mobile Internet》</strong>has been published !<br>

        div.container.index-block-group
            div.col-xs-4
                a.zoomimg.indexBlockButton(href='schoolList.html')
                    img.img-thumbnail.autoSize(src='images/homepage/schoollist.jpg')
            div.col-xs-4
                a.zoomimg.indexBlockButton(href='GeneralInfo.html')
                    img.img-thumbnail.autoSize(src='images/homepage/courseinfo.jpg')
            div.col-xs-4
                a.zoomimg.indexBlockButton(href='studentwork.html')
                    img.img-thumbnail.autoSize(src='images/homepage/studentwork.png')
        br
        br

        include _footer



