extends _base

block vars
    -var title = "Student Work"

block content
    include _header
    div.container.proText
        h1.text-center.white Junior Normal Class
        br

        h3.text-center.white From : 张文煜
        video.col-center-block(src="material/video/Junior_normal/张文煜.mp4" controls="controls" height="400px")

        h3.text-center.white From : 傅新喆
        video.col-center-block(src="material/video/Junior_normal/傅新喆.mp4" controls="controls" height="400px")

        h3.text-center.white From : 韩雨桐
        video.col-center-block(src="material/video/Junior_normal/韩雨桐.mp4" controls="controls" height="400px")

        h3.text-center.white From : 孙威
        video.col-center-block(src="material/video/Junior_normal/孙威.mp4" controls="controls" height="400px")

        h3.text-center.white From : 周梦蝶
        video.col-center-block(src="material/video/Junior_normal/周梦蝶.mp4" controls="controls" height="400px")

        br.clear

        div.center
            a.button.button-pill.button-glow.button-3d(href="http://pan.baidu.com/s/1hsFIzHi")  Watch more students' work >>
        hr

    include _footer