extends _base

block vars
    -var title = "Student Work"

block content
    include _header
    div.container
        h1.text-center Midterm Exam
        ul.list-group.col-sm-6.midterm-list
            a.text-center.list-group-item(href='material/midterm/Junior_IEEE/2017/1-孔令坤.pdf') 孔令坤
            a.text-center.list-group-item(href='material/midterm/Junior_IEEE/2017/1_樊明华.pdf') 樊明华
            a.text-center.list-group-item(href='material/midterm/Junior_IEEE/2017/2-王伟涛.pdf') 王伟涛
            a.text-center.list-group-item(href='material/midterm/Junior_IEEE/2017/2_赵人杰.pdf') 赵人杰
            a.text-center.list-group-item(href='material/midterm/Junior_IEEE/2017/3-黄昊宸.pdf') 黄昊宸
            a.text-center.list-group-item(href='material/midterm/Junior_IEEE/2017/3_姚佳乐.pdf') 姚佳乐
            a.text-center.list-group-item(href='material/midterm/Junior_IEEE/2017/4-于海漩.pdf') 于海漩
            a.text-center.list-group-item(href='material/midterm/Junior_IEEE/2017/4-刘汉卿.pdf') 刘汉卿
            a.text-center.list-group-item(href='material/midterm/Junior_IEEE/2017/4-董镕诚.pdf') 董镕诚
            a.text-center.list-group-item(href='material/midterm/Junior_IEEE/2017/4_莫双嘉.pdf') 莫双嘉
            a.text-center.list-group-item(href='material/midterm/Junior_IEEE/2017/5-宋肇哲.pdf') 宋肇哲
            a.text-center.list-group-item(href='material/midterm/Junior_IEEE/2017/5-林禹臣.pdf') 林禹臣
            a.text-center.list-group-item(href='material/midterm/Junior_IEEE/2017/5_汪博.pdf') 汪博
        ul.list-group.col-sm-6.midterm-list
            a.text-center.list-group-item(href='material/midterm/Junior_IEEE/2017/5_黄垚玮.pdf') 黄垚玮
            a.text-center.list-group-item(href='material/midterm/Junior_IEEE/2017/6-杭盖.pdf') 杭盖
            a.text-center.list-group-item(href='material/midterm/Junior_IEEE/2017/6_张福明.pdf') 张福明
            a.text-center.list-group-item(href='material/midterm/Junior_IEEE/2017/6_撖朝润.pdf') 撖朝润
            a.text-center.list-group-item(href='material/midterm/Junior_IEEE/2017/6_田晓亮.pdf') 田晓亮
            a.text-center.list-group-item(href='material/midterm/Junior_IEEE/2017/7-杨叶新.pdf') 杨叶新
            a.text-center.list-group-item(href='material/midterm/Junior_IEEE/2017/7-黄子砾.pdf') 黄子砾
            a.text-center.list-group-item(href='material/midterm/Junior_IEEE/2017/7_鲁旭彤.pdf') 鲁旭彤
            a.text-center.list-group-item(href='material/midterm/Junior_IEEE/2017/乔卓彪.pdf') 乔卓彪
            a.text-center.list-group-item(href='material/midterm/Junior_IEEE/2017/唐宇新.pdf') 唐宇新
            a.text-center.list-group-item(href='material/midterm/Junior_IEEE/2017/廖一鸣.pdf') 廖一鸣
            a.text-center.list-group-item(href='material/midterm/Junior_IEEE/2017/王瑞吉.pdf') 王瑞吉
            a.text-center.list-group-item(href='material/midterm/Junior_IEEE/2017/陈怡峰.pdf') 陈怡峰

    br.clear

    include _footer