extends _base

block vars
    -var title = "Student Work"

block content
    include _header
    div.container
        h1.text-center.white Student Work
        br
        a(href="Junior_IEEE_pro.html")
            div.totleType
                h3
                    strong PPT & Report
                img.autoSize(src="images/pptx.png")

        a(href="Junior_IEEE_video.html")
            div.totleType
                h3
                    strong Video
                img.autoSize(src="images/video.png")


    br.clear

    include _footer