extends _base

block vars
    -var title = "Student Work"

block content
    include _header
    div.container.proText
        h1.text-center.white Junior Normal Class
        br
        div.panel.panel-primary.pptType
            div.panel-heading
                h3.panel-title
                    strong Group 1
            div.panel-body
                span.glyphicon.glyphicon-education.proText      宋振宇：ZeroRank: Ranking Newly Published Scientific Literatures Without Citations&nbsp;
                    a.label.label-default(href="material/PPT/Junior_normal/宋振宇.pptx") ppt
                    |&nbsp;
                    a.label.label-info(href="material/projects/Junior_normal/宋振宇.pdf") report
                span.glyphicon.glyphicon-education.proText      刘长风：Academic Visualization an insight into academia&nbsp;
                    a.label.label-default(href="material/PPT/Junior_normal/刘长风.pptx") ppt
                    |&nbsp;
                    a.label.label-info(href="material/projects/Junior_normal/刘长风.pdf") report
                span.glyphicon.glyphicon-education.proText      傅新喆：Optimal determination of source-destination connectivity in random graphs&nbsp;
                    a.label.label-default(href="material/PPT/Junior_normal/傅新喆.pdf") ppt
                    | &nbsp;
                    a.label.label-info(href="material/projects/Junior_normal/傅新喆.pdf") report
                span.glyphicon.glyphicon-education.proText      汪楚奇：A new design of Acemap&nbsp;
                    a.label.label-default(href="material/PPT/Junior_normal/汪楚奇.pptx") ppt
                    | &nbsp;
                    a.label.label-info(href="material/projects/Junior_normal/汪楚奇.pdf") report

        div.panel.panel-default.pptType
            div.panel-heading
                h3.panel-title
                    strong Group 2
            div.panel-body
                span.glyphicon.glyphicon-education.proText      姚远： Project-Acemap DevOps in Hadoop &nbsp;
                    a.label.label-default(href="material/PPT/Junior_normal/姚远.pdf") ppt
                    | &nbsp;
                    a.label.label-info(href="material/projects/Junior_normal/姚远.pdf") report
                span.glyphicon.glyphicon-education.proText      常柯：Works in System Group of Indoor Location&nbsp;
                    a.label.label-default(href="material/PPT/Junior_normal/常柯.ppt") ppt
                    | &nbsp;
                    a.label.label-info(href="material/projects/Junior_normal/常柯.pdf") report
                span.glyphicon.glyphicon-education.proText      徐冬：Best strategy for location determination&nbsp;
                    a.label.label-default(href="material/PPT/Junior_normal/徐冬.pptx") ppt
                    | &nbsp;
                    a.label.label-info(href="material/projects/Junior_normal/徐冬.pdf") report
                span.glyphicon.glyphicon-education.proText      刘芝琳：Discussion about Mainpage of Acemap&nbsp;
                    a.label.label-default(href="material/PPT/Junior_normal/刘芝琳.pdf") ppt
                    | &nbsp;
                    a.label.label-info(href="material/projects/Junior_normal/刘芝琳.pdf") report

        div.panel.panel-info.pptType
            div.panel-heading
                h3.panel-title
                    strong Group 3
            div.panel-body
                span.glyphicon.glyphicon-education.proText      唐炜杰：Paper/Author Network Visualization&nbsp;
                    a.label.label-default(href="material/PPT/Junior_normal/唐炜杰.pptx") ppt
                    | &nbsp;
                    a.label.label-info(href="material/projects/Junior_normal/唐炜杰.pdf") report
                span.glyphicon.glyphicon-education.proText      肖浩：Acdemic Map&nbsp;
                    a.label.label-default(href="material/PPT/Junior_normal/肖浩.pptx") ppt
                    | &nbsp;
                    a.label.label-info(href="material/projects/Junior_normal/肖浩.pdf") report
                span.glyphicon.glyphicon-education.proText  赖柏霖：Socialization on Acemap&nbsp;
                    a.label.label-default(href="material/PPT/Junior_normal/赖柏霖.pptx") ppt
                    | &nbsp;
                    a.label.label-info(href="material/projects/Junior_normal/赖柏霖.pdf") report
                span.glyphicon.glyphicon-education.proText      李一玚: Indoor Localization System&nbsp;
                    a.label.label-default(href="material/PPT/Junior_normal/李一玚.pdf") ppt
                    | &nbsp;
                    a.label.label-info(href="material/projects/Junior_normal/李一玚.pdf") report

        div.panel.panel-warning.pptType
            div.panel-heading
                h3.panel-title
                    strong Group 4
            div.panel-body
                span.glyphicon.glyphicon-education.proText  陆严：Atuocomplete Based on Ternary Search Tree&nbsp;
                    a.label.label-default(href="material/PPT/Junior_normal/王桑田&牛文浩&陆严.ppt") ppt
                    | &nbsp;
                    a.label.label-info(href="material/projects/Junior_normal/陆严.pdf") report
                span.glyphicon.glyphicon-education.proText  张逸帆：Indoor localization&nbsp;
                    a.label.label-default(href="material/PPT/Junior_normal/张逸帆.pptx") ppt
                    | &nbsp;
                    a.label.label-info(href="material/projects/Junior_normal/张逸帆.pdf") report
                span.glyphicon.glyphicon-education.proText      文轩：Wireless communications and mobile networks project report&nbsp;
                    a.label.label-default(href="material/PPT/Junior_normal/文轩.pdf") ppt
                    | &nbsp;
                    a.label.label-info(href="material/projects/Junior_normal/文轩.pdf") report
                span.glyphicon.glyphicon-education.proText      牛文浩：Atuocomplete Based on Ternary Search Tree&nbsp;
                    a.label.label-default(href="material/PPT/Junior_normal/王桑田&牛文浩&陆严.ppt") ppt
                    | &nbsp;
                    a.label.label-info(href="material/projects/Junior_normal/牛文浩.pdf") report

        div.panel.panel-success.pptType
            div.panel-heading
                h3.panel-title
                    strong Group 5
            div.panel-body
                span.glyphicon.glyphicon-education.proText      周梦蝶:Field R-Layer&nbsp;
                    a.label.label-default(href="material/projects/Junior_normal/周梦蝶.pptx") ppt
                    | &nbsp;
                    a.label.label-info(href="material/projects/Junior_normal/周梦蝶.pdf") report
                span.glyphicon.glyphicon-education.proText      何俊贤:Exploring the Dependency Relationship Among Topics&nbsp;
                    a.label.label-default(href="material/PPT/Junior_normal/何俊贤.pptx") ppt
                    | &nbsp;
                    a.label.label-info(href="material/projects/Junior_normal/何俊贤.pdf") report
                span.glyphicon.glyphicon-education.proText      张宇鹏:SchoolMap:AceMap Data Visualization&nbsp;
                    a.label.label-default(href="material/PPT/Junior_normal/张宇鹏.pptx") ppt
                    | &nbsp;
                    a.label.label-info(href="material/projects/Junior_normal/张宇鹏.pdf") report
                span.glyphicon.glyphicon-education.proText      鲁皓:Topic Analysis In ACEMAP &nbsp;
                    a.label.label-default(href="material/PPT/Junior_normal/鲁皓.pptx") ppt
                    | &nbsp;
                    a.label.label-info(href="material/projects/Junior_normal/鲁皓.pdf") report


        div.panel.panel-danger.pptType
            div.panel-heading
                h3.panel-title
                    strong Group 6
            div.panel-body
                span.glyphicon.glyphicon-education.proText     李远：Video Based Multi-Object Detection System &nbsp;
                    a.label.label-default(href="material/PPT/Junior_normal/李远.pptx") ppt
                    | &nbsp;
                    a.label.label-info(href="material/projects/Junior_normal/李远.pdf") report
                span.glyphicon.glyphicon-education.proText      赵忆漠：Access Points Deployment&nbsp;
                    a.label.label-default(href="material/PPT/Junior_normal/赵忆漠.pptx") ppt
                    | &nbsp;
                    a.label.label-info(href="material/projects/Junior_normal/赵忆漠.pdf") report
                span.glyphicon.glyphicon-education.proText     王泽龙：Wearable Devices &nbsp;
                    a.label.label-default(href="material/PPT/Junior_normal/王泽龙.pptx") ppt
                    | &nbsp;
                    a.label.label-info(href="material/projects/Junior_normal/王泽龙.pdf") report


        div.panel.panel-info.pptType
            div.panel-heading
                h3.panel-title
                    strong Group 7
            div.panel-body
                span.glyphicon.glyphicon-education.proText     刘学成：Exploiting Social Weak Tie Structure for D2D Cooperative Communication&nbsp;
                    a.label.label-default(href="material/PPT/Junior_normal/刘学成.pptx") ppt
                    | &nbsp;
                    a.label.label-info(href="material/projects/Junior_normal/刘学成.pdf") report
                span.glyphicon.glyphicon-education.proText     王泽鹏：RFID-based indoor localization &nbsp;
                    a.label.label-default(href="material/PPT/Junior_normal/王泽鹏.pptx") ppt
                    | &nbsp;
                    a.label.label-info(href="material/projects/Junior_normal/王泽鹏.pdf") report
                span.glyphicon.glyphicon-education.proText      李援曦：Indoor Localization&nbsp;
                    a.label.label-default(href="material/PPT/Junior_normal/李援曦.pptx") ppt
                    | &nbsp;
                    a.label.label-info(href="material/projects/Junior_normal/李援曦.pdf") report
                span.glyphicon.glyphicon-education.proText      陈丹旸：WiFi indoor localization based on the fingerprint&nbsp;
                    a.label.label-default(href="material/PPT/Junior_normal/陈丹旸.pptx") ppt
                    | &nbsp;
                    a.label.label-info(href="material/projects/Junior_normal/陈丹旸.pdf") report

        div.panel.panel-success.pptType
            div.panel-heading
                h3.panel-title
                    strong Group 8
            div.panel-body
                span.glyphicon.glyphicon-education.proText  熊思捷：Fundamental limits of channel state information&nbsp;
                    a.label.label-default(href="material/PPT/Junior_normal/熊思捷&主苏杰.ppt") ppt
                    | &nbsp;
                    a.label.label-info(href="material/projects/Junior_normal/熊思捷.pdf") report
                span.glyphicon.glyphicon-education.proText  主苏杰：Fundamental limits of channel state information&nbsp;
                    a.label.label-default(href="material/PPT/Junior_normal/熊思捷&主苏杰.ppt") ppt
                    | &nbsp;
                    a.label.label-info(href="material/projects/Junior_normal/主苏杰.pdf") report
                span.glyphicon.glyphicon-education.proText      章健：Fair and Efficient Multi-Resource Sharingin Social Networks&nbsp;
                    a.label.label-default(href="material/PPT/Junior_normal/章健.pptx") ppt
                    | &nbsp;
                    a.label.label-info(href="material/projects/Junior_normal/章健.pdf") report
                span.glyphicon.glyphicon-education.proText     张文煜：Optimization of Information Diffusion in Mobile Social Network  &nbsp;
                    a.label.label-default(href="material/PPT/Junior_normal/张文煜.pptx") ppt
                    | &nbsp;
                    a.label.label-info(href="material/projects/Junior_normal/张文煜.pdf") report

        div.panel.panel-default.pptType
            div.panel-heading
                h3.panel-title
                    strong Group 9
            div.panel-body
                span.glyphicon.glyphicon-education.proText     任翔远：Data Group in this semester&nbsp;
                    a.label.label-default(href="material/PPT/Junior_normal/任翔远.pptx") ppt
                    | &nbsp;
                    a.label.label-info(href="material/projects/Junior_normal/任翔远.pdf") report
                span.glyphicon.glyphicon-education.proText      王桑田：Autocomplete Based on Ternary Search Tree &nbsp;
                    a.label.label-default(href="material/PPT/Junior_normal/王桑田&牛文浩&陆严.ppt") ppt
                    | &nbsp;
                    a.label.label-info(href="material/projects/Junior_normal/王桑田.pdf") report
                span.glyphicon.glyphicon-education.proText      李天初：DeepDive and Crawler &nbsp;
                    a.label.label-default(href="material/PPT/Junior_normal/李天初.pptx") ppt
                    | &nbsp;
                    a.label.label-info(href="material/projects/Junior_normal/李天初.pdf") report


        div.panel.panel-danger.pptType
            div.panel-heading
                h3.panel-title
                    strong Group 10
            div.panel-body
                span.glyphicon.glyphicon-education.proText     韩雨桐：Spatio-temporal Gaussian Process Based Radio Map Reconstruction&nbsp;
                    a.label.label-default(href="material/PPT/Junior_normal/韩雨桐.pptx") ppt
                    | &nbsp;
                    a.label.label-info(href="material/projects/Junior_normal/韩雨桐.pdf") report
                span.glyphicon.glyphicon-education.proText     刘多闻：IndoorP ositioning with Bluetooth &nbsp;
                    a.label.label-default(href="material/PPT/Junior_normal/刘多闻.pptx") ppt
                    | &nbsp;
                    a.label.label-info(href="material/projects/Junior_normal/刘多闻.pdf") report
                span.glyphicon.glyphicon-education.proText     孙威：Make Pages Practical &nbsp;
                    a.label.label-default(href="material/PPT/Junior_normal/孙威.pptx") ppt
                    | &nbsp;
                    a.label.label-info(href="material/projects/Junior_normal/孙威.pdf") report
                span.glyphicon.glyphicon-education.proText      马寅桐：Project On IndoorLocalization&nbsp;
                    a.label.label-default(href="material/PPT/Junior_normal/马寅桐.pptx") ppt
                    | &nbsp;
                    a.label.label-info(href="material/projects/Junior_normal/马寅桐.pdf") report


    include _footer