extends _base

block vars
    -var title = "Student Work"

block content
    include _header
    div.container.proText
        h1.text-center.white Junior Normal Class
        br
        div.panel.panel-primary.pptType
            div.panel-heading
                h3.panel-title
                    strong Group 1
            div.panel-body
                span.glyphicon.glyphicon-education.proText      韩煦深:Implementation of SISO partin MIMO relays
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2015/韩煦深.pptx") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2015/韩煦深.pdf") report
                span.glyphicon.glyphicon-education.proText     黄琰:Some Tentative Exploration In Crowdsourcing And Indoor localization
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2015/黄琰.pptx") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2015/黄琰.pdf") report
                span.glyphicon.glyphicon-education.proText     李经纬:6×6 MIMO System
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2015/李经纬.pptx") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2015/李经纬.pdf") report

        div.panel.panel-default.pptType
            div.panel-heading
                h3.panel-title
                    strong Group 2
            div.panel-body
                span.glyphicon.glyphicon-education.proText      单立钦: Relieving Hotspots in Data Center Networks withWireless Neighborways
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2015/单立钦.pptx") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2015/单立钦.pdf") report
                span.glyphicon.glyphicon-education.proText     郑子奇:Wireless Content Distribution Network
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2015/郑子奇.pptx") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2015/郑子奇.pdf") report
                span.glyphicon.glyphicon-education.proText     丁舟奕海:Rounting protocols for wireless sensor networks
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2015/丁舟奕海.pptx") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2015/丁舟奕海.pdf") report

        div.panel.panel-info.pptType
            div.panel-heading
                h3.panel-title
                    strong Group 3
            div.panel-body
                span.glyphicon.glyphicon-education.proText      肖雨佳：Free Compensation In The Market ofGreen Cloud Computing
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2015/肖雨佳.ppt") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2015/肖雨佳.pdf") report
                span.glyphicon.glyphicon-education.proText      马海蔚:Inferring the Hidden Structure of Information Propagation Using Probabilistic Model
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2015/马海蔚.pptx") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2015/马海蔚.pdf") report
                span.glyphicon.glyphicon-education.proText  葛潇一:A Dynamic Hybrid MAC Protocol of TMDA and CSMA/CA
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2015/葛潇一.pdf") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2015/葛潇一.pdf") report
        div.panel.panel-warning.pptType
            div.panel-heading
                h3.panel-title
                    strong Group 4
            div.panel-body

                span.glyphicon.glyphicon-education.proText     程子阳:Wireless Technologies in DataCenter Networks
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2015/程子阳.pptx") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2015/程子阳.pdf") report
                span.glyphicon.glyphicon-education.proText     毕雨来:What I Learned From Mininet
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2015/毕雨来.pptx") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2015/毕雨来.pdf") report
                span.glyphicon.glyphicon-education.proText     闻于天:Quality-Driven Auction based Incentive Mechanism for Mobile Crowd Sensing
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2015/闻于天.ppt") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2015/闻于天.pdf") report
                span.glyphicon.glyphicon-education.proText      于磊:Left or Right: A Convenient Way Using Cell Phone With One Hand
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/projects/Junior_normal_2015/于磊.pptx") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2015/于磊.pdf") report


    include _footer