extends _base

block vars
    -var title = "Student Work"

block content
    include _header
    div.container.proText
        h1.text-center.white Junior Class
        br
        div.panel.panel-primary.pptType
            div.panel-heading
                h3.panel-title
                    strong Group 1
            div.panel-body
                span.glyphicon.glyphicon-education.proText David_Chiasson:Ad Hoc Network Routing Comparison
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2011/David_Chiasson.pptx") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2011/David_Chiasson.pdf") report
                span.glyphicon.glyphicon-education.proText 陈迪:An Incentive-based Resource Allocation Protocol For Wireless Peer-to-Peer(P2P) Network
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2011/陈迪.pptx") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2011/陈迪.pdf") report
                span.glyphicon.glyphicon-education.proText 陈一类:Data Classification in Wireless Sensor Networks
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2011/陈一类.ppt") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2011/陈一类.pdf") report

        div.panel.panel-warning.pptType
            div.panel-heading
                h3.panel-title
                    strong Group 2
            div.panel-body
                span.glyphicon.glyphicon-education.proText 董沫:An Optimal Pricing Mechanism in Cognitive Radio Network With Congestion Control
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2011/董沫.ppt") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2011/董沫.pdf") report
                span.glyphicon.glyphicon-education.proText 方逸洲:Analysis of Mobility Models for Vehicle Adhoc Networks and a New Mobility Model—-Score Based Routing
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2011/方逸洲.pptx") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2011/方逸洲.pdf") report
                span.glyphicon.glyphicon-education.proText 高震寰:Comparison of Different Routing Protocols for Wireless Sensor Networks
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2011/高震寰.ppt") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2011/高震寰.pdf") report

        div.panel.panel-danger.pptType
            div.panel-heading
                h3.panel-title
                    strong Group 3
            div.panel-body
                span.glyphicon.glyphicon-education.proText 金海明:Analysis of Reliable Distributed Data Fusion
                    | Structure in Collaborative Spectrum Sensing in
                    | Cognitive Radio Networks: A Network Formation
                    | Game Approach
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2011/金海明.pdf") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2011/金海明.pdf") report
                span.glyphicon.glyphicon-education.proText 李建:Throughput and Delay with
                    | Network Coding in Hybrid Mobile Ad-Hoc
                    | Network: A Global Respective
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2011/李建.pdf") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2011/李建.pdf") report
                span.glyphicon.glyphicon-education.proText 李杰斯:Wireless Mesh Network
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2011/李杰斯.pptx") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2011/李杰斯.pdf") report

        div.panel.panel-info.pptType
            div.panel-heading
                h3.panel-title
                    strong Group 4
            div.panel-body
                span.glyphicon.glyphicon-education.proText 李英哲:Wireless Communications: Principles and Applications
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2011/李英哲.ppt") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2011/李英哲.pdf") report
                span.glyphicon.glyphicon-education.proText 卢贤龙:Develop new MAC protocol for UWB with its simulation based on NS2
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2011/卢贤龙.ppt") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2011/卢贤龙.pdf") report
                span.glyphicon.glyphicon-education.proText 卢振奇:Develop new MAC protocol for UWB with its simulation based on NS2
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2011/卢振奇.pptx") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2011/卢振奇.pdf") report

        div.panel.panel-success.pptType
            div.panel-heading
                h3.panel-title
                    strong Group 5
            div.panel-body
                span.glyphicon.glyphicon-education.proText 栾文韬:A combination of camera and scalar sensor in the
                    | wireless barrier network
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2011/栾文韬.ppt") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2011/栾文韬.pdf") report
                span.glyphicon.glyphicon-education.proText 吕致毅:Data Aggregation Tree Construction in Wireless Sensor Network
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2011/吕致毅.ppt") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2011/吕致毅.pdf") report
                span.glyphicon.glyphicon-education.proText 屈正阳:A Power Control MAC Protocol for Moving Target
                    | :on Wireless Sensor Network Testbed
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2011/屈正阳.ppt") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2011/屈正阳.pdf") report

        div.panel.panel-default.pptType
            div.panel-heading
                h3.panel-title
                    strong Group 6
            div.panel-body
                span.glyphicon.glyphicon-education.proText 吴承阳:Infrastructure-aided encounter transfer protocol for
                    | vehicle communication networks
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2011/吴承阳.ppt") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2011/吴承阳.pdf") report
                span.glyphicon.glyphicon-education.proText 姚曜:Sensor Network Media Access Design
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2011/姚曜.pptx") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2011/姚曜.pdf") report
                span.glyphicon.glyphicon-education.proText 于拓:Node Buffer Size in Intermittently Connected Mobile Wireless Networks with
                    | Infrastructure Support
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2011/于拓.ppt") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2011/于拓.pdf") report


    include _footer
