extends _base

block vars
    -var title = "Student Work"

block content
    include _header
    div.container.proText
        h1.text-center.white Junior Class
        br
        div.alert.alert-info.freshType1
            h3 Group1
            a.button-small.button-glow.button-border.button-rounded.button-primary(href="material/projects/Junior_normal_2009/Project_Report1/report_team1.pdf") Report 1
            |&nbsp;&nbsp;&nbsp;&nbsp;
            a.button-small.button-glow.button-border.button-rounded.button-action(href="material/projects/Junior_normal_2009/Project_Report2/Group1.pdf") Report 2
        div.alert.alert-success.freshType1
            h3 Group2
            a.button-small.button-glow.button-border.button-rounded.button-primary(href="material/projects/Junior_normal_2009/Project_Report1/report_team2.pdf") Report 1
            |&nbsp;&nbsp;&nbsp;&nbsp;
            a.button-small.button-glow.button-border.button-rounded.button-action(href="material/projects/Junior_normal_2009/Project_Report2/Group2.pdf") Report 2
        div.alert.alert-warning.freshType1
            h3 Group3
            a.button-small.button-glow.button-border.button-rounded.button-primary(href="material/projects/Junior_normal_2009/Project_Report1/report_team3.pdf") Report 1
            |&nbsp;&nbsp;&nbsp;&nbsp;
            a.button-small.button-glow.button-border.button-rounded.button-action(href="material/projects/Junior_normal_2009/Project_Report2/Group3.pdf") Report 2
        div.alert.alert-danger.freshType1
            h3 Group4
            a.button-small.button-glow.button-border.button-rounded.button-primary(href="material/projects/Junior_normal_2009/Project_Report1/report_team4.pdf") Report 1
            |&nbsp;&nbsp;&nbsp;&nbsp;
            a.button-small.button-glow.button-border.button-rounded.button-action(href="material/projects/Junior_normal_2009/Project_Report2/Group4.pdf") Report 2
        div.alert.alert-info.freshType1
            h3 Group5
            a.button-small.button-glow.button-border.button-rounded.button-primary(href="material/projects/Junior_normal_2009/Project_Report1/report_team5.pdf") Report 1
            |&nbsp;&nbsp;&nbsp;&nbsp;
            a.button-small.button-glow.button-border.button-rounded.button-action(href="material/projects/Junior_normal_2009/Project_Report2/Group5.pdf") Report 2
        div.alert.alert-success.freshType1
            h3 Group6
            a.button-small.button-glow.button-border.button-rounded.button-primary(href="material/projects/Junior_normal_2009/Project_Report1/report_team6.pdf") Report 1
            |&nbsp;&nbsp;&nbsp;&nbsp;
            a.button-small.button-glow.button-border.button-rounded.button-action(href="material/projects/Junior_normal_2009/Project_Report2/Group6.pdf") Report 2
        div.alert.alert-warning.freshType1
            h3 Group7
            a.button-small.button-glow.button-border.button-rounded.button-primary(href="material/projects/Junior_normal_2009/Project_Report1/report_team7.pdf") Report 1
            |&nbsp;&nbsp;&nbsp;&nbsp;
            a.button-small.button-glow.button-border.button-rounded.button-action(href="material/projects/Junior_normal_2009/Project_Report2/Group7.pdf") Report 2
        div.alert.alert-danger.freshType1
            h3 Group8
            a.button-small.button-glow.button-border.button-rounded.button-primary(href="material/projects/Junior_normal_2009/Project_Report1/report_team8.pdf") Report 1
            |&nbsp;&nbsp;&nbsp;&nbsp;
            a.button-small.button-glow.button-border.button-rounded.button-action(href="material/projects/Junior_normal_2009/Project_Report2/Group8.pdf") Report 2
        div.alert.alert-info.freshType1
            h3 Group9
            a.button-small.button-glow.button-border.button-rounded.button-primary(href="material/projects/Junior_normal_2009/Project_Report1/report_team9.pdf") Report 1
            |&nbsp;&nbsp;&nbsp;&nbsp;
            a.button-small.button-glow.button-border.button-rounded.button-action(href="material/projects/Junior_normal_2009/Project_Report2/Group9.pdf") Report 2
        div.alert.alert-info.freshType1
            h3 Group10
            a.button-small.button-glow.button-border.button-rounded.button-primary(href="material/projects/Junior_normal_2009/Project_Report1/report_team10.pdf") Report 1
            |&nbsp;&nbsp;&nbsp;&nbsp;
            a.button-small.button-glow.button-border.button-rounded.button-action(href="material/projects/Junior_normal_2009/Project_Report2/Group10.pdf") Report 2
        div.alert.alert-success.freshType1
            h3 Group11
            a.button-small.button-glow.button-border.button-rounded.button-primary(href="material/projects/Junior_normal_2009/Project_Report1/report_team11.pdf") Report 1
            |&nbsp;&nbsp;&nbsp;&nbsp;
            a.button-small.button-glow.button-border.button-rounded.button-action(href="material/projects/Junior_normal_2009/Project_Report2/Group11.pdf") Report 2
        div.alert.alert-warning.freshType1
            h3 Group12
            a.button-small.button-glow.button-border.button-rounded.button-primary(href="material/projects/Junior_normal_2009/Project_Report1/report_team12.pdf") Report 1
            |&nbsp;&nbsp;&nbsp;&nbsp;
            a.button-small.button-glow.button-border.button-rounded.button-action(href="material/projects/Junior_normal_2009/Project_Report2/Group12.pdf") Report 2

        div.alert.alert-info.freshType1
            h3 Group13
            a.button-small.button-glow.button-border.button-rounded.button-primary(href="material/projects/Junior_normal_2009/Project_Report1/report_team13.pdf") Report 1
            |&nbsp;&nbsp;&nbsp;&nbsp;
            a.button-small.button-glow.button-border.button-rounded.button-action(href="material/projects/Junior_normal_2009/Project_Report2/Group13.pdf") Report 2
        div.alert.alert-info.freshType1
            h3 Group14
            a.button-small.button-glow.button-border.button-rounded.button-primary(href="material/projects/Junior_normal_2009/Project_Report1/report_team14.pdf") Report 1
            |&nbsp;&nbsp;&nbsp;&nbsp;
            a.button-small.button-glow.button-border.button-rounded.button-action(href="material/projects/Junior_normal_2009/Project_Report2/Group14.pdf") Report 2
        div.alert.alert-success.freshType1
            h3 Group15
            a.button-small.button-glow.button-border.button-rounded.button-primary(href="material/projects/Junior_normal_2009/Project_Report1/report_team15.pdf") Report 1
            |&nbsp;&nbsp;&nbsp;&nbsp;
            a.button-small.button-glow.button-border.button-rounded.button-action(href="material/projects/Junior_normal_2009/Project_Report2/Group15.pdf") Report 2
        div.alert.alert-warning.freshType1
            h3 Group16
            a.button-small.button-glow.button-border.button-rounded.button-primary(href="material/projects/Junior_normal_2009/Project_Report1/report_team16.pdf") Report 1
            |&nbsp;&nbsp;&nbsp;&nbsp;
            a.button-small.button-glow.button-border.button-rounded.button-action(href="material/projects/Junior_normal_2009/Project_Report2/Group16.pdf") Report 2
        div.alert.alert-info.freshType1
            h3 Group17
            a.button-small.button-glow.button-border.button-rounded.button-primary(href="material/projects/Junior_normal_2009/Project_Report1/report_team17.pdf") Report 1
            |&nbsp;&nbsp;&nbsp;&nbsp;
            a.button-small.button-glow.button-border.button-rounded.button-action(href="material/projects/Junior_normal_2009/Project_Report2/Group17.pdf") Report 2
        div.alert.alert-success.freshType1
            h3 Group18
            a.button-small.button-glow.button-border.button-rounded.button-primary(href="material/projects/Junior_normal_2009/Project_Report1/report_team18.pdf") Report 1
            |&nbsp;&nbsp;&nbsp;&nbsp;
            a.button-small.button-glow.button-border.button-rounded.button-action(href="material/projects/Junior_normal_2009/Project_Report2/Group18.pdf") Report 2
        div.alert.alert-warning.freshType1
            h3 Group19
            a.button-small.button-glow.button-border.button-rounded.button-primary(href="material/projects/Junior_normal_2009/Project_Report1/report_team19.pdf") Report 1
            |&nbsp;&nbsp;&nbsp;&nbsp;
            a.button-small.button-glow.button-border.button-rounded.button-action(href="material/projects/Junior_normal_2009/Project_Report2/Group19.pdf") Report 2


    include _footer