extends _base

block vars
    -var title = "Student Work"

block content
    include _header
    div.container
        h1.text-center.white Student Work
        br
        a(href="Junior_IEEE_midterm_2017.html")
            div.totleType
                h3
                    strong Midterm
                img.autoSize(src="images/pdf.png")

        a(href="Junior_IEEE_pro_2017.html")
            div.totleType
                h3
                    strong PPT & Report
                img.autoSize(src="images/pptx.png")
    br.clear

    include _footer