
extends _base

block vars
    -var title = "Student Work"

block content
    include _header
    div.container.proText
        h1.text-center.white Junior IEEE Class
        br


        div.panel.panel-primary.pptType
            div.panel-heading
                h3.panel-title
                    strong Group 1
            div.panel-body
                span.glyphicon.glyphicon-education.proText      樊逸群:Wireless Data Center Network
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_IEEE_2015/樊逸群.pptx") ppt
                span.glyphicon.glyphicon-education.proText      何琨:Fundamental Limits of RSS Fingerprinting based Indoor Location
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_IEEE_2015/何琨.pptx") ppt

                span.glyphicon.glyphicon-education.proText      李伊青:Network economics
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_IEEE_2015/李伊青.pptx") ppt


        div.panel.panel-info.pptType
            div.panel-heading
                h3.panel-title
                    strong Group 2
            div.panel-body
                span.glyphicon.glyphicon-education.proText      谢尚玉:Incentive Mechanism of Crowd-Sourcing
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_IEEE_2015/谢尚玉.pptx") ppt

                span.glyphicon.glyphicon-education.proText      钱堃:3-Dimentional Cellular  Positioning based on HAPs
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_IEEE_2015/钱堃.pptx") ppt
                span.glyphicon.glyphicon-education.proText     陈卓群:Coded Caching in Information-Centric Networks
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_IEEE_2015/陈卓群.pptx") ppt


        div.panel.panel-success.pptType
            div.panel-heading
                h3.panel-title
                    strong Group 3
            div.panel-body
                span.glyphicon.glyphicon-education.proText      王义中: Extract Explicit Semantics for Academic Papers
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_IEEE_2015/王义中.pptx") ppt

                span.glyphicon.glyphicon-education.proText      谈兆炜:AceMap: A Novel, Powerful Academic Search Engine
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_IEEE_2015/谈兆炜.pdf") ppt

                span.glyphicon.glyphicon-education.proText      王玫: Breaking the limit of Wi- - Fi RSS Fingerprinting based Indoor Localization
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_IEEE_2015/王玫.pptx") ppt



        div.panel.panel-warning.pptType
            div.panel-heading
                h3.panel-title
                    strong Group 4
            div.panel-body
                span.glyphicon.glyphicon-education.proText      梁晓伟:WiFi Usage Monitor based on RSSI
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_IEEE_2015/梁晓伟.pptx") ppt

                span.glyphicon.glyphicon-education.proText      刘思怡:Wireless VOD—based on popularity
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_IEEE_2015/刘思怡.pptx") ppt

                span.glyphicon.glyphicon-education.proText      刘扬扬:Wireless VOD
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_IEEE_2015/刘扬扬.ppt") ppt





    include _footer