extends _base

block vars
    -var title = "Student Work"

block content
    include _header
    div.container.proText
        h1.text-center.white Junior Normal Class
        br
        div.panel.panel-primary.pptType
            div.panel-heading
                h3.panel-title
                    strong Group 1
            div.panel-body
                span.glyphicon.glyphicon-education.proText Andreas Ziegler&Yousef Boraik:FindYourFriend
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2012/Andreas Ziegler&Yousef Boraik.ppt") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2012/Andreas Ziegler&Yousef Boraik.zip") report
                span.glyphicon.glyphicon-education.proText 曹轩宇:Heterogeneous Multicast Networks with Wireless Helping Networks
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2012/曹轩宇.ppt") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2012/曹轩宇.pdf") report
                span.glyphicon.glyphicon-education.proText 曹彦明: Two-dimensional Contract Theory in Cognitive Radio Networks
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2012/曹彦明.ppt") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2012/曹彦明.pdf") report
                span.glyphicon.glyphicon-education.proText 王储&钱臻之:Computing and Compressive Sensing in Wireless Sensor Networks
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2012/王储&钱臻之.ppt") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2012/王储&钱臻之.rar") report

        div.panel.panel-default.pptType
            div.panel-heading
                h3.panel-title
                    strong Group 2
            div.panel-body
                span.glyphicon.glyphicon-education.proText 程祥:3D Tetris Game on Android OS
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2012/程祥.ppt") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2012/程祥.rar") report
                span.glyphicon.glyphicon-education.proText 戴集:Android App iClass
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2012/戴集.pptx") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2012/戴集.pdf") report
                span.glyphicon.glyphicon-education.proText 葛博文&赵常:Blue Snake
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2012/葛博文&赵常.pptx") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2012/葛博文&赵常.zip") report
                span.glyphicon.glyphicon-education.proText 王新宇:Near-Optimal Spectrum Allocation for Cognitive Radios: A Frequency-Time Auction Perspective
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2012/王新宇.pptx") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2012/王新宇.zip") report

        div.panel.panel-danger.pptType
            div.panel-heading
                h3.panel-title
                    strong Group 3
            div.panel-body
                span.glyphicon.glyphicon-education.proText 葛云飞:Routing in Wireless Sensor Networks
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2012/葛云飞.ppt") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2012/葛云飞.rar") report
                span.glyphicon.glyphicon-education.proText 韩思卉:Impact of Mobility and Heterogeneity on Full View Coverage in Camera Sensor Network
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2012/韩思卉.ppt") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2012/韩思卉.pdf") report
                span.glyphicon.glyphicon-education.proText 韩欣彤:Pushbook
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2012/韩欣彤.ppt") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2012/韩欣彤.rar") report
                span.glyphicon.glyphicon-education.proText 王小维&宋晨曦:Several Small  Android Programs Based on the Google API
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2012/王小维&宋晨曦.ppt") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2012/王小维&宋晨曦.rar") report

        div.panel.panel-info.pptType
            div.panel-heading
                h3.panel-title
                    strong Group 4
            div.panel-body
                span.glyphicon.glyphicon-education.proText 黄新:Energy-efficient Cooperative Sensing Schedule for Heterogeneous Users in Cognitive Radio Networks
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2012/黄新.ppt") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2012/黄新.pdf") report
                span.glyphicon.glyphicon-education.proText 李铎:An Android Application Development
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2012/李铎.pptx") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2012/李铎.rar") report
                span.glyphicon.glyphicon-education.proText 李昊:An Enhancement of WirelessHART Protocol
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2012/李昊.pptx") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2012/李昊.pdf") report
                span.glyphicon.glyphicon-education.proText 庄炜旭:Research on Channel allocation in Multi-hop Network
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2012/庄炜旭.pptx") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2012/庄炜旭.pdf") report

        div.panel.panel-warning.pptType
            div.panel-heading
                h3.panel-title
                    strong Group 5
            div.panel-body
                span.glyphicon.glyphicon-education.proText 李倩璐:BlackBerry Application
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2012/李倩璐.pptx") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2012/李倩璐.rar") report
                span.glyphicon.glyphicon-education.proText 李艺璇:Multicast Capacity of Heterogeneous Networks
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2012/李艺璇.rar") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2012/李艺璇.pdf") report
                span.glyphicon.glyphicon-education.proText 李云成:Android application Winmine
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2012/李云成.ppt") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2012/李云成.rar") report
                span.glyphicon.glyphicon-education.proText 吴芸:Interference’s Impact on Critical Power
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2012/吴芸.pptx") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2012/吴芸.pdf") report

        div.panel.panel-success.pptType
            div.panel-heading
                h3.panel-title
                    strong Group 6
            div.panel-body
                span.glyphicon.glyphicon-education.proText 梁清凯:Singleton Spectrum Mobility Games With Incomplete Information
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2012/梁清凯.ppt") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2012/梁清凯.pdf") report
                span.glyphicon.glyphicon-education.proText 刘然:Applications of Automatic Control Methods in Wireless Networks
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2012/刘然.ppt") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2012/刘然.pdf") report
                span.glyphicon.glyphicon-education.proText 刘思洋:Truthful Spectrum Auction Design for Secondary Networks
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2012/刘思洋.pdf") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2012/刘思洋.pdf") report

        div.panel.panel-primary.pptType
            div.panel-heading
                h3.panel-title
                    strong Group 7
            div.panel-body
                span.glyphicon.glyphicon-education.proText 刘伟杰:Spectrum Trading in Cognitive Radio Networks and Partial Spectrum Trading between Primary Networks
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2012/刘伟杰.ppt") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2012/刘伟杰.pdf") report
                span.glyphicon.glyphicon-education.proText 鲁晓璐:Android APP
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2012/鲁晓璐.pptx") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2012/鲁晓璐.pdf") report
                span.glyphicon.glyphicon-education.proText 陆俊敏:Android Development - DIY Computer Assistant
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2012/陆俊敏.pptx") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2012/陆俊敏.rar") report
                span.glyphicon.glyphicon-education.proText 薛盼辰:Wireless Communications and Networking Project SWAP (Android App)
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2012/薛盼辰.ppt") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2012/薛盼辰.rar") report

        div.panel.panel-default.pptType
            div.panel-heading
                h3.panel-title
                    strong Group 8
            div.panel-body
                span.glyphicon.glyphicon-education.proText 邱航:Research on throughput-Optimal Control in Multi-radio Multi-Carrier Wireless Sensor Networks
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2012/邱航.pptx") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2012/邱航.pdf") report
                span.glyphicon.glyphicon-education.proText 田震震:EMPAC:Exploiting Movement-Pattern for Collaborative Localization in Mobile Networks
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2012/田震震.ppt") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2012/田震震.pdf") report
                span.glyphicon.glyphicon-education.proText 杨锡灿:Group Multicast Capacity in Large Scale Wireless Networks
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2012/杨锡灿.pptx") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2012/杨锡灿.pdf") report

        div.panel.panel-warning.pptType
            div.panel-heading
                h3.panel-title
                    strong Group 9
            div.panel-body
                span.glyphicon.glyphicon-education.proText 杨勇:Downlink Resource Allocation for  Video Streaming over Femtocell Networks
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2012/杨勇.pptx") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2012/杨勇.rar") report
                span.glyphicon.glyphicon-education.proText 尹冀凯:Spectrum Trading in Cognitive Radio Network:a Two-Stage Market Based on Contract and Stackelberg Game
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2012/尹冀凯.pdf") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2012/尹冀凯.pdf") report
                span.glyphicon.glyphicon-education.proText 尹平:ReviewMem -- the Sword to Conquer GRE
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2012/尹平.pptx") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2012/尹平.7z") report

        div.panel.panel-info.pptType
            div.panel-heading
                h3.panel-title
                    strong Group 10
            div.panel-body
                span.glyphicon.glyphicon-education.proText 袁苏鑫:Location Transmission
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2012/袁苏鑫.pptx") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2012/袁苏鑫.pdf") report
                span.glyphicon.glyphicon-education.proText 张瑛:One Problem of Reliability In Collaborative Communication System
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2012/张瑛.pptx") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2012/张瑛.rar") report
                span.glyphicon.glyphicon-education.proText 赵久旸:A Survey On The Capacity Of Hybrid Wireless Networks
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2012/赵久旸.ppt") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2012/赵久旸.pdf") report
                span.glyphicon.glyphicon-education.proText 周凯:Spatial Reuse in Spectrum Sharing: A Matrix Spatial Congestion Games Approach
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2012/周凯.pdf") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2012/周凯.rar") report


    include _footer
