extends _base

block vars
    -var title = "Student Work"

block content
    include _header
    div.container
        h1.text-center Midterm Exam
        ul.list-group.col-sm-4.midterm-list
            a.text-center.list-group-item(href='material/midterm/Junior_normal/2017/10-童迅.pdf') 童迅
            a.text-center.list-group-item(href='material/midterm/Junior_normal/2017/10-边登科.pdf') 边登科
            a.text-center.list-group-item(href='material/midterm/Junior_normal/2017/10_吕飞霄.pdf') 吕飞霄
            a.text-center.list-group-item(href='material/midterm/Junior_normal/2017/10_朱乐岩.pdf') 朱乐岩
            a.text-center.list-group-item(href='material/midterm/Junior_normal/2017/11-方曦.pdf') 方曦
            a.text-center.list-group-item(href='material/midterm/Junior_normal/2017/11_张希伦.pdf') 张希伦
            a.text-center.list-group-item(href='material/midterm/Junior_normal/2017/12-于逸尘.pdf') 于逸尘
            a.text-center.list-group-item(href='material/midterm/Junior_normal/2017/12-刘炯.pdf') 刘炯
            a.text-center.list-group-item(href='material/midterm/Junior_normal/2017/12-徐家盛.pdf') 徐家盛
            a.text-center.list-group-item(href='material/midterm/Junior_normal/2017/13_刘栋.pdf') 刘栋
            a.text-center.list-group-item(href='material/midterm/Junior_normal/2017/13_杨再欣.pdf') 杨再欣
            a.text-center.list-group-item(href='material/midterm/Junior_normal/2017/1_刘蓝晴.pdf') 刘蓝晴
            a.text-center.list-group-item(href='material/midterm/Junior_normal/2017/1_周志明.pdf') 周志明
            a.text-center.list-group-item(href='material/midterm/Junior_normal/2017/1_孙媛.pdf') 孙媛
            a.text-center.list-group-item(href='material/midterm/Junior_normal/2017/2-邓丰雨.pdf') 邓丰雨
            a.text-center.list-group-item(href='material/midterm/Junior_normal/2017/2_徐至盈.pdf') 徐至盈
        ul.list-group.col-sm-4.midterm-list
            a.text-center.list-group-item(href='material/midterm/Junior_normal/2017/2_李杰锋.pdf') 李杰锋
            a.text-center.list-group-item(href='material/midterm/Junior_normal/2017/2_王晓星.pdf') 王晓星
            a.text-center.list-group-item(href='material/midterm/Junior_normal/2017/3-侯腾飞.pdf') 侯腾飞
            a.text-center.list-group-item(href='material/midterm/Junior_normal/2017/3-杨雨城.pdf') 杨雨城
            a.text-center.list-group-item(href='material/midterm/Junior_normal/2017/4-陆昱成.pdf') 陆昱成
            a.text-center.list-group-item(href='material/midterm/Junior_normal/2017/4_丁恒哲.pdf') 丁恒哲
            a.text-center.list-group-item(href='material/midterm/Junior_normal/2017/4_吴昊.pdf') 吴昊
            a.text-center.list-group-item(href='material/midterm/Junior_normal/2017/5_王天祎.pdf') 王天祎
            a.text-center.list-group-item(href='material/midterm/Junior_normal/2017/5_贾煜.pdf') 贾煜
            a.text-center.list-group-item(href='material/midterm/Junior_normal/2017/5_赵璟浩.pdf') 赵璟浩
            a.text-center.list-group-item(href='material/midterm/Junior_normal/2017/5_黄兆丰.pdf') 黄兆丰
            a.text-center.list-group-item(href='material/midterm/Junior_normal/2017/6_吴昕宇.pdf') 吴昕宇
            a.text-center.list-group-item(href='material/midterm/Junior_normal/2017/6_林特.pdf') 林特
            a.text-center.list-group-item(href='material/midterm/Junior_normal/2017/6_林顺达.pdf') 林顺达
            a.text-center.list-group-item(href='material/midterm/Junior_normal/2017/7-庄镕滨.pdf') 庄镕滨
            a.text-center.list-group-item(href='material/midterm/Junior_normal/2017/7-顾敏锋.pdf') 顾敏锋
        ul.list-group.col-sm-4.midterm-list
            a.text-center.list-group-item(href='material/midterm/Junior_normal/2017/7_俞宗伯.pdf') 俞宗伯
            a.text-center.list-group-item(href='material/midterm/Junior_normal/2017/8-刘阅洲.pdf') 刘阅洲
            a.text-center.list-group-item(href='material/midterm/Junior_normal/2017/8-孟正凌.pdf') 孟正凌
            a.text-center.list-group-item(href='material/midterm/Junior_normal/2017/8_李豪.pdf') 李豪
            a.text-center.list-group-item(href='material/midterm/Junior_normal/2017/9-王楠.pdf') 王楠
            a.text-center.list-group-item(href='material/midterm/Junior_normal/2017/9_詹诗渊.pdf') 詹诗渊
            a.text-center.list-group-item(href='material/midterm/Junior_normal/2017/侯晨.pdf') 侯晨
            a.text-center.list-group-item(href='material/midterm/Junior_normal/2017/孙嘉辰.pdf') 孙嘉辰
            a.text-center.list-group-item(href='material/midterm/Junior_normal/2017/杨嘉诚.pdf') 杨嘉诚
            a.text-center.list-group-item(href='material/midterm/Junior_normal/2017/苏靖超.pdf') 苏靖超
            a.text-center.list-group-item(href='material/midterm/Junior_normal/2017/陈昶安.pdf') 陈昶安
            a.text-center.list-group-item(href='material/midterm/Junior_normal/2017/顾健喆.pdf') 顾健喆
            a.text-center.list-group-item(href='material/midterm/Junior_normal/2017/高天昊.pdf') 高天昊
            a.text-center.list-group-item(href='material/midterm/Junior_normal/2017/高楚枫.pdf') 高楚枫
            a.text-center.list-group-item(href='material/midterm/Junior_normal/2017/黄汇.pdf') 黄汇
            a.text-center.list-group-item(href='material/midterm/Junior_normal/2017/刘可.pdf') 刘可
            a.text-center.list-group-item(href='material/midterm/Junior_normal/2017/徐梓嘉.pdf') 徐梓嘉

    br.clear

    include _footer