extends _base

block vars
    -var title = "Student Work"

block content
    include _header
    div.container.proText
        h1.text-center.white Junior Normal Class
        br

        div.panel.panel-warning.pptType
            div.panel-heading
                h3.panel-title
                    strong Group 1
            div.panel-body
                span.glyphicon.glyphicon-education.proText      王尧:Academic search engine
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_IEEE_2015/王尧.pptx") ppt

                span.glyphicon.glyphicon-education.proText      何广琛:Fundamental Limits of Heterogenous Cache: a Centralized Approach
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_IEEE_2015/何广琛.pptx") ppt

                span.glyphicon.glyphicon-education.proText      游杰:Simulation & Analysis ofDelay-Aggregation Tradeoff ofMobile Multicast Tree
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_IEEE_2015/游杰.pptx") ppt

                span.glyphicon.glyphicon-education.proText      罗楚浩:Dot matrix barcode
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_IEEE_2015/罗楚浩.pptx") ppt

        div.panel.panel-danger.pptType
            div.panel-heading
                h3.panel-title
                    strong Group 2
            div.panel-body
                span.glyphicon.glyphicon-education.proText      应海旭:Activity Recognition Based on Wearable Devices
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_IEEE_2015/应海旭.pptx") ppt

                span.glyphicon.glyphicon-education.proText      沈若非:Crowdsourcing Based Indoor Localization
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_IEEE_2015/沈若非.pptx") ppt

                span.glyphicon.glyphicon-education.proText      苟毓川:Topo Sort
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_IEEE_2015/苟毓川.pptx") ppt

                span.glyphicon.glyphicon-education.proText      颜荣圻:Collaborative Filtering for Streaming data
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_IEEE_2015/颜荣圻.ppt") ppt

        div.panel.panel-default.pptType
            div.panel-heading
                h3.panel-title
                    strong Group 3
            div.panel-body
                span.glyphicon.glyphicon-education.proText      吴志豪:RSS-Based Localization Scheme in Large Indoor Environment
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_IEEE_2015/吴志豪.pptx") ppt

                span.glyphicon.glyphicon-education.proText      于倡和:Data loss and reconstruction in sensory networks
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_IEEE_2015/于倡和.ppt") ppt
                span.glyphicon.glyphicon-education.proText      王博涵:RSS-based Indoor Localization
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_IEEE_2015/王博涵.ppt") ppt

                span.glyphicon.glyphicon-education.proText      汤小航:Wi-Fi based indoor location
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_IEEE_2015/汤小航.ppt") ppt

        div.panel.panel-info.pptType
            div.panel-heading
                h3.panel-title
                    strong Group 4
            div.panel-body
                span.glyphicon.glyphicon-education.proText      李卓:Energy-saving of Wearable Devices
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_IEEE_2015/李卓.ppt") ppt
                span.glyphicon.glyphicon-education.proText      黄亦伦:Wireless Communication in Data Center Network
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_IEEE_2015/黄亦伦.ppt") ppt
                span.glyphicon.glyphicon-education.proText      王聪:HMM in Wearable Computing
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_IEEE_2015/王聪.pdf") ppt
                span.glyphicon.glyphicon-education.proText      黄闻光:Prim and K-core Algorithm on Spark GraphX
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_IEEE_2015/黄闻光.ppt") ppt

        div.panel.panel-success.pptType
            div.panel-heading
                h3.panel-title
                    strong Group 5
            div.panel-body
                span.glyphicon.glyphicon-education.proText      杨明:A Network Economic Strategy Model For FTTH Access Network
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_IEEE_2015/杨明.ppt") ppt
                span.glyphicon.glyphicon-education.proText      王思同:The generalized Kelly mechanism used in Resource allocation
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_IEEE_2015/王思同.pptx") ppt
                span.glyphicon.glyphicon-education.proText      于尧舜:Using Support Vector Machine For Lane-Change Detection
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_IEEE_2015/于尧舜.ppt") ppt
                span.glyphicon.glyphicon-education.proText      何珊:My Tiny Ping-Pong Helper
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_IEEE_2015/何珊.pptx") ppt

        div.panel.panel-warning.pptType
            div.panel-heading
                h3.panel-title
                    strong Group 6
            div.panel-body
                span.glyphicon.glyphicon-education.proText      李倩茹:How to extract information you want?
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_IEEE_2015/李倩茹.pptx") ppt
                span.glyphicon.glyphicon-education.proText      宋睿:Delay-Aggregation Tradeoff inWireless Mobile Networks
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_IEEE_2015/宋睿.pptx") ppt
                span.glyphicon.glyphicon-education.proText      邓宇琛:Coded Cache Problem
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_IEEE_2015/邓宇琛.pptx") ppt
                span.glyphicon.glyphicon-education.proText      颜妍:Min-Cut on Spark GraphX
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_IEEE_2015/颜妍.ppt") ppt

        div.panel.panel-danger.pptType
            div.panel-heading
                h3.panel-title
                    strong Group 7
            div.panel-body
                span.glyphicon.glyphicon-education.proText      陈博:Deep Belief Nets and Ising Model-Based Network Construction
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_IEEE_2015/陈博.pptx") ppt
                span.glyphicon.glyphicon-education.proText      包玉婷:Dot Matrix Barcode
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_IEEE_2015/包玉婷.pptx") ppt
                span.glyphicon.glyphicon-education.proText      张璟聪:Indoor Localization Using Digital Trajectory
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_IEEE_2015/张璟聪.ppt") ppt
                span.glyphicon.glyphicon-education.proText      李思甜:Indoor Localization of a Quadrocopter based on PTAM
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_IEEE_2015/李思甜.pdf") ppt




    include _footer