extends _base

block vars
    -var title = "Student Work"

block content
    include _header
    div.container.proText
        h1.text-center.white Junior Normal Class
        br
        div.panel.panel-primary.pptType
            div.panel-heading
                h3.panel-title
                    strong Group 1
            div.panel-body
                span.glyphicon.glyphicon-education.proText      郑冠杰:Communication Capacity in Social Situation
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2015/郑冠杰.pptx") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2015/郑冠杰.pdf") report
                span.glyphicon.glyphicon-education.proText      高星: Capacity and delay analysis for multicast
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2015/高星.pptx") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2015/高星.pdf") report
                span.glyphicon.glyphicon-education.proText      谢晋:the Vehicle System for  God's Eye View
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2015/谢晋.pptx") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2015/谢晋.pdf") report

        div.panel.panel-default.pptType
            div.panel-heading
                h3.panel-title
                    strong Group 2
            div.panel-body
                span.glyphicon.glyphicon-education.proText      张志远: Taxi-Share: A Large-Scale Dynamic Taxi Ridesharing Service based on big data
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2015/张志远.ppt") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2015/张志远.pdf") report
                span.glyphicon.glyphicon-education.proText      佟鑫宇:Dos/DDos defense in SDN
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2015/佟鑫宇.pptx") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2015/佟鑫宇.pdf") report
                span.glyphicon.glyphicon-education.proText      聂晓方：Application of Mininet
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2015/聂晓方.pdf") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2015/聂晓方.pdf") report

        div.panel.panel-info.pptType
            div.panel-heading
                h3.panel-title
                    strong Group 3
            div.panel-body
                span.glyphicon.glyphicon-education.proText      朱禹萌：Cooperative Relay with  MIMO nodes
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2015/朱禹萌.pptx") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2015/朱禹萌.pdf") report
                span.glyphicon.glyphicon-education.proText  徐玉含: Anti DDoS Bloom Filter in SDN & MiniNet POX Simulation
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2015/徐玉含.pptx") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2015/徐玉含.pdf") report
                span.glyphicon.glyphicon-education.proText      陈祥玉：The Capacity of Energy-Constrained Mobile Networks
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2015/陈祥玉.ppt") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2015/陈祥玉.pdf") report

        div.panel.panel-warning.pptType
            div.panel-heading
                h3.panel-title
                    strong Group 4
            div.panel-body
                span.glyphicon.glyphicon-education.proText  朱晓光:ITDMA-MAC: An Efficient TDMA-Based MAC Protocol for Dense Networks
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2015/朱晓光.pptx") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2015/朱晓光.pdf") report
                span.glyphicon.glyphicon-education.proText      蒋婉宁:Predict User’s Attitudes with Internal and External Factors in OSN
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2015/蒋婉宁.pptx") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2015/蒋婉宁.pdf") report
                span.glyphicon.glyphicon-education.proText      袁增文:MultiUser-MIMO System
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2015/袁增文.pdf") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2015/袁增文.pdf") report

        div.panel.panel-success.pptType
            div.panel-heading
                h3.panel-title
                    strong Group 5
            div.panel-body
                span.glyphicon.glyphicon-education.proText      庄星敏:Dynamic TDMA-MAC for Multi-Hop Wi-Fi Networks
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2015/庄星敏.pptx") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2015/庄星敏.pdf") report
                span.glyphicon.glyphicon-education.proText      杨晟：Wireless Communications: Principle and Applications
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2015/杨晟.pptx") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2015/杨晟.pdf") report
                span.glyphicon.glyphicon-education.proText      赵易颖：Compressed sensing in data collection
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2015/赵易颖.ppt") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2015/赵易颖.pdf") report


        div.panel.panel-danger.pptType
            div.panel-heading
                h3.panel-title
                    strong Group 6
            div.panel-body
                span.glyphicon.glyphicon-education.proText     顾之诚：Crowdsourcing to Indoor Localization based on Wireless Fingerprint
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2015/顾之诚.pptx") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2015/顾之诚.pdf") report
                span.glyphicon.glyphicon-education.proText      盛开恺：Answer Inference of the Crowdsourcing System in Scoring Problem
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2015/盛开恺.pptx") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2015/盛开恺.pdf") report
                span.glyphicon.glyphicon-education.proText     黄森洪: On the Design and Analysis of Wireless Deadline-aware SWCube for Data Center Networking
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2015/黄森洪.pptx") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2015/黄森洪.pdf") report



        div.panel.panel-info.pptType
            div.panel-heading
                h3.panel-title
                    strong Group 7
            div.panel-body
                span.glyphicon.glyphicon-education.proText     杨高雄:Analysis of Node Localizability in Wireless Ad-hoc Networks
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2015/杨高雄.pptx") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2015/杨高雄.pdf") report
                span.glyphicon.glyphicon-education.proText     陈昊:The detection of elephant flow in SDN
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2015/陈昊.pptx") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2015/陈昊.pdf") report
                span.glyphicon.glyphicon-education.proText      张志力:Wireless Tech In Data Center Networks
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2015/张志力.ppt") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2015/张志力.pdf") report

        div.panel.panel-success.pptType
            div.panel-heading
                h3.panel-title
                    strong Group 8
            div.panel-body
                span.glyphicon.glyphicon-education.proText  吴成:Localization Accuracy of CrowdSourcing based Indoor Localization
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2015/吴成.pptx") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2015/吴成.pdf") report
                span.glyphicon.glyphicon-education.proText  董艺:Map matching technology in Indoor Localization
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2015/董艺.pptx") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2015/董艺.pdf") report
                span.glyphicon.glyphicon-education.proText      许世龙:Wireless Technologies in DataCenter Networks
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2015/许世龙.ppt") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2015/许世龙.pdf") report

        div.panel.panel-default.pptType
            div.panel-heading
                h3.panel-title
                    strong Group 9
            div.panel-body
                span.glyphicon.glyphicon-education.proText     张奇:Incentivizing Crowdsourced Data for Indoor Localization
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2015/张奇.pptx") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2015/张奇.pdf") report
                span.glyphicon.glyphicon-education.proText      孙瑞佳:Satisfaction Games in Graphical Multi-resource Allocation
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2015/孙瑞佳.pptx") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2015/孙瑞佳.pdf") report
                span.glyphicon.glyphicon-education.proText      姚春楠:Compressed Topology Tomography in Sensor Networks
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2015/姚春楠.ppt") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2015/姚春楠.pdf") report







    include _footer