extends _base

block vars
    -var title = "Student Work"

block content
    include _header
    div.container.proText
        h1.text-center.white Junior Class
        br
        div.panel.panel-primary.pptType
            div.panel-heading
                h3.panel-title
                    strong Group 1
            div.panel-body
                span.glyphicon.glyphicon-education.proText 陈海波:LTE-A / Energy Saving
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2010/陈海波.pdf") report
                span.glyphicon.glyphicon-education.proText 黄帆:QoS in Wireless LANs Final Report
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2010/黄帆.pdf") report
                span.glyphicon.glyphicon-education.proText 刘迪:Routing in MANET and P2P Networks:
                    | Final Report For Wireless P2P
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2010/刘迪.pdf") report
                span.glyphicon.glyphicon-education.proText 王赟:Multicast Capacity of MANETs with Heterogeneous Multicast Sessions
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2010/王赟.pdf") report

        div.panel.panel-info.pptType
            div.panel-heading
                h3.panel-title
                    strong Group 2
            div.panel-body
                span.glyphicon.glyphicon-education.proText 刘静:Final Report on Capacity Survey
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2010/刘静.pdf") report
                span.glyphicon.glyphicon-education.proText 刘舒:Moving Towards Reality
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2010/刘舒.pdf") report
                span.glyphicon.glyphicon-education.proText 彭秋雨:A Unifying Perspective on Multicast Capacity in
                    | Wireless Network with Spatial Inhomogeneity
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2010/彭秋雨.pdf") report
                span.glyphicon.glyphicon-education.proText 翁鹏飞:LTE-A / Energy Saving
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2010/翁鹏飞.pdf") report

        div.panel.panel-warning.pptType
            div.panel-heading
                h3.panel-title
                    strong Group 3
            div.panel-body
                span.glyphicon.glyphicon-education.proText 邱南藩:Research About Wireless Sensor Networks
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2010/邱南藩.pdf") report
                span.glyphicon.glyphicon-education.proText 石阡:Routing Protocols in mobile ad hoc networks
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2010/石阡.pdf") report
                span.glyphicon.glyphicon-education.proText 唐欢:Percolation Degree in Large Scale Cognitive Radio Networks
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2010/唐欢.pdf") report
                span.glyphicon.glyphicon-education.proText 谢尚旭:protocol interference model
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2010/谢尚旭.pdf") report

        div.panel.panel-default.pptType
            div.panel-heading
                h3.panel-title
                    strong Group 4
            div.panel-body
                span.glyphicon.glyphicon-education.proText 唐永波:数学工具在无线资源管理方面的应用
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2010/唐永波.pdf") report
                span.glyphicon.glyphicon-education.proText 田月华:Coverage in Wireless Ad-Hoc Sensor Networks
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2010/田月华.pdf") report
                span.glyphicon.glyphicon-education.proText 王潇:Capacity, Coverage and Connectivity in
                    | Wireless Networks
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2010/王潇.pdf") report
                span.glyphicon.glyphicon-education.proText 郑楠&吴争蔚:基于半静态资源分配的小区间干扰协调方案
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2010/郑楠&吴争蔚.pdf") report

        div.panel.panel-success.pptType
            div.panel-heading
                h3.panel-title
                    strong Group 5
            div.panel-body
                span.glyphicon.glyphicon-education.proText 徐远忠:Buffer Size in Large-scale Waiting-allowed Wireless
                    | Networks with External Constraints
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2010/徐远忠.pdf") report
                span.glyphicon.glyphicon-education.proText 叶枫:Cognitive Radio
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2010/叶枫.pdf") report
                span.glyphicon.glyphicon-education.proText 赵佳:Many-to-many Cooperative Transmission Scheme
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2010/赵佳.pdf") report
                span.glyphicon.glyphicon-education.proText 邹欣志:Capacity, Coverage and
                    | Connectivity of Wireless Networks
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2010/邹欣志.pdf") report



    include _footer
