extends _base

block vars
    -var title = "Student Work"

block content
    include _header
    div.container.proText
        h1.text-center.white Junior Normal Class
        br
        div.panel.panel-primary.pptType
            div.panel-heading
                h3.panel-title
                    strong Group 1
            div.panel-body
                span.glyphicon.glyphicon-education.proText 陈嘉伟:ClassWorld – Android app
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2013/陈嘉伟.pptx") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2013/陈嘉伟.pdf") report
                span.glyphicon.glyphicon-education.proText 陈一滔:Optimal Secrecy Capacity-Delay Tradeoff in Large-Scale Mobile Ad Hoc Cognitive Networks
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2013/陈一滔.ppt") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2013/陈一滔.pdf") report
                span.glyphicon.glyphicon-education.proText 封潇&范唯:Task Allocation in Distributed Service Network (DSN)
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2013/封潇 范唯.pptx") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2013/封潇 范唯.pdf") report


        div.panel.panel-default.pptType
            div.panel-heading
                h3.panel-title
                    strong Group 2
            div.panel-body
                span.glyphicon.glyphicon-education.proText 黄晶:Open-Loop and Closed-Loop Uplink Power Control for LTE System
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2013/黄晶 任志宏 严凯.pptx") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2013/黄晶.pdf") report
                span.glyphicon.glyphicon-education.proText 黄庆启&张家豪:OpenFlow in Wireless-Associated Data Center Network
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2013/黄庆启 张家豪.pptx") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2013/黄庆启 张家豪.pdf") report
                span.glyphicon.glyphicon-education.proText 刘驰煌&王嘉硕:Cloud System
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2013/刘驰煌_王嘉硕.pptx") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2013/刘驰煌_王嘉硕.pdf") report

        div.panel.panel-info.pptType
            div.panel-heading
                h3.panel-title
                    strong Group 3
            div.panel-body
                span.glyphicon.glyphicon-education.proText 刘复兴&赵美丹:Android application:Smart Stopwatch
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2013/刘复兴&赵美丹.pptx") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2013/刘复兴&赵美丹.pdf") report
                span.glyphicon.glyphicon-education.proText 刘金山:Graph Algorithms On Distributed Networks and Databases
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2013/刘金山.pptx") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2013/刘金山.pdf") report
                span.glyphicon.glyphicon-education.proText 秦晓松:Spread Spectrum
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2013/秦晓松.pptx") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2013/秦晓松.pdf") report

        div.panel.panel-warning.pptType
            div.panel-heading
                h3.panel-title
                    strong Group 4
            div.panel-body
                span.glyphicon.glyphicon-education.proText 塞福_Zach_杜乐_齐龙巴:Routing in Wireless Sensor Networks: Application on iFireControl
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2013/塞福_Zach_杜乐_齐龙巴.pptx") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2013/塞福_Zach_杜乐_齐龙巴.pdf") report
                span.glyphicon.glyphicon-education.proText 王慧明:Comparion of Routing Protocols For Mobile Adhoc Networks
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2013/王慧明.ppt") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2013/王慧明.pdf") report
                span.glyphicon.glyphicon-education.proText 王奇:Connectivity of Mobile K-Hop Wireless Network with Correlated Mobility and Cluster Scalability
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2013/王奇.pptx") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2013/王奇.pdf") report

        div.panel.panel-success.pptType
            div.panel-heading
                h3.panel-title
                    strong Group 5
            div.panel-body
                span.glyphicon.glyphicon-education.proText 王天翼:TCP Combined With Network Coding
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2013/王天翼.ppt") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2013/王天翼.pdf") report
                span.glyphicon.glyphicon-education.proText 王维:MATP ——A New Transport Protocol
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2013/王维.pptx") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2013/王维.pdf") report
                span.glyphicon.glyphicon-education.proText 任志宏:Uplink Power Control in Multi-Cell in LTE
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2013/黄晶 任志宏 严凯.pptx") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2013/任志宏.pdf") report

        div.panel.panel-danger.pptType
            div.panel-heading
                h3.panel-title
                    strong Group 6
            div.panel-body
                span.glyphicon.glyphicon-education.proText 王旭:Distributed Channel Selection in Opportunistic Spectrum Access: A Learning-Based Approach
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2013/王旭.ppt") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2013/王旭.pdf") report
                span.glyphicon.glyphicon-education.proText 姚硕超:Delay-Throughput Tradeoff with Correlated Mobility in Ad-Hoc Networks
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2013/姚硕超.ppt") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2013/姚硕超.pdf") report
                span.glyphicon.glyphicon-education.proText 张达 支博文: LET: Local Enquiry Terminal
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2013/张达 支博文.pptx") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2013/张达 支博文.pdf") report

        div.panel.panel-primary.pptType
            div.panel-heading
                h3.panel-title
                    strong Group 7
            div.panel-body
                span.glyphicon.glyphicon-education.proText 周琳：Scalability of Software Defined Network
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2013/周琳.ppt") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2013/周琳.pdf") report
                span.glyphicon.glyphicon-education.proText 赵亦燃 ：GreenDrive:A Comprehensive System to Optimize Driving speed
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2013/赵亦燃.ppt") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2013/赵亦燃.pdf") report
                span.glyphicon.glyphicon-education.proText 严凯：Autonomous Down Link Power Control Schemes for Heterogeneous Cellular Networks
                    img.proIcon(src="images/pptx.png")
                    a.label.label-default(href="material/PPT/Junior_normal_2013/黄晶 任志宏 严凯.pptx") ppt
                    img.proIconpdf(src="images/pdf.png")
                    a.label.label-info(href="material/projects/Junior_normal_2013/严凯.pdf") report




    include _footer
