extends _base

block vars
    -var title = "Student Work"

block content
    include _header
    div.container.proText
        h1.text-center.white Freshman IEEE Class
        br
        div.alert.alert-info.freshType1
            h3 Group1
            a.button-small.button-glow.button-border.button-rounded.button-primary(href="material/projects/Junior_normal_2008/Project_Report1/report_team1.pdf") Report 1
            |&nbsp;&nbsp;&nbsp;&nbsp;
            a.button-small.button-glow.button-border.button-rounded.button-action(href="material/projects/Junior_normal_2008/Project_Report2/Group1.pdf") Report 2
        div.alert.alert-success.freshType1
            h3 Group2
            a.button-small.button-glow.button-border.button-rounded.button-primary(href="material/projects/Junior_normal_2008/Project_Report1/report_team2.pdf") Report 1
            |&nbsp;&nbsp;&nbsp;&nbsp;
            a.button-small.button-glow.button-border.button-rounded.button-action(href="material/projects/Junior_normal_2008/Project_Report2/Group2.pdf") Report 2
        div.alert.alert-warning.freshType1
            h3 Group3
            a.button-small.button-glow.button-border.button-rounded.button-primary(href="material/projects/Junior_normal_2008/Project_Report1/report_team3.pdf") Report 1
            |&nbsp;&nbsp;&nbsp;&nbsp;
            a.button-small.button-glow.button-border.button-rounded.button-action(href="material/projects/Junior_normal_2008/Project_Report2/Group3.pdf") Report 2
        div.alert.alert-danger.freshType1
            h3 Group4
            a.button-small.button-glow.button-border.button-rounded.button-primary(href="material/projects/Junior_normal_2008/Project_Report1/report_team4.pdf") Report 1
            |&nbsp;&nbsp;&nbsp;&nbsp;
            a.button-small.button-glow.button-border.button-rounded.button-action(href="material/projects/Junior_normal_2008/Project_Report2/Group4.pdf") Report 2
        div.alert.alert-info.freshType1
            h3 Group5
            a.button-small.button-glow.button-border.button-rounded.button-primary(href="material/projects/Junior_normal_2008/Project_Report1/report_team5.pdf") Report 1
            |&nbsp;&nbsp;&nbsp;&nbsp;
            a.button-small.button-glow.button-border.button-rounded.button-action(href="material/projects/Junior_normal_2008/Project_Report2/Group5.pdf") Report 2
        div.alert.alert-success.freshType1
            h3 Group6
            a.button-small.button-glow.button-border.button-rounded.button-primary(href="material/projects/Junior_normal_2008/Project_Report1/report_team6.pdf") Report 1
            |&nbsp;&nbsp;&nbsp;&nbsp;
            a.button-small.button-glow.button-border.button-rounded.button-action(href="material/projects/Junior_normal_2008/Project_Report2/Group6.pdf") Report 2
        div.alert.alert-warning.freshType1
            h3 Group7
            a.button-small.button-glow.button-border.button-rounded.button-primary(href="material/projects/Junior_normal_2008/Project_Report1/report_team7.pdf") Report 1
            |&nbsp;&nbsp;&nbsp;&nbsp;
            a.button-small.button-glow.button-border.button-rounded.button-action(href="material/projects/Junior_normal_2008/Project_Report2/Group7.pdf") Report 2
        div.alert.alert-danger.freshType1
            h3 Group8
            a.button-small.button-glow.button-border.button-rounded.button-primary(href="material/projects/Junior_normal_2008/Project_Report1/report_team8.pdf") Report 1
            |&nbsp;&nbsp;&nbsp;&nbsp;
            a.button-small.button-glow.button-border.button-rounded.button-action(href="material/projects/Junior_normal_2008/Project_Report2/Group8.pdf") Report 2

    include _footer