extends _base

block vars
    -var title = "Labs"

block content
    include _header
    div.container.bgwhite
        h1.text-center Labs
        h3 Lab Manual
        p
            |If you want to download the lab manual, please send e-mail to &nbsp;
            a(href="mailto:xwang8@sjtu.edu.cn") xwang8@sjtu.edu.cn
            | &nbsp;or&nbsp;
            a(href="mailto:13-liujiaqi@sjtu.edu.cn") 13-liujiaqi@sjtu.edu.cn
            |&nbsp;for the password.
        p
            strong Lab 1-5:&nbsp;
            a.btn.btn-primary(target='_blank' href='http://pan.baidu.com/s/1Jjpq2') Click Here to Download
        p
            strong Lab 6-11:&nbsp;
            a.btn.btn-primary(target='_blank' href='http://pan.baidu.com/s/1qXxz0LY') Click Here to Download
        div.alert.alert-info.whats-new
            em
                strong What's New : &nbsp;
                span Two New Tensorflow Labs have been updated !


    hr

    div.container.bgwhite
        img.col-md-4(src="images/lab/lab12.png", height=300, width=300)
        div.col-md-8
            h1.text-center Tensorflow Lab1: Mining Advisor-advisee Relationships via Machine Learning Methods
            p
                strong Introduction:
                | &nbsp; This Lab focus on learning basic machine learning methods and implementing them on a specific topic, to find advisor- advisee relationships in academic heterogeneous networks. In this Lab, you will learn some machine learning tools and realize your own model based on Python and Sklearn. Moreover, you will use Keras and Tensorflow to build a deep-learning model and compare the performance between deep learning and traditional machine learning methods.
            p
                | If you want to download the lab manual, please send e-mail to &nbsp;
                a(href="mailto:xwang8@sjtu.edu.cn") xwang8@sjtu.edu.cn
                | &nbsp;or&nbsp;
                a(href="mailto:13-liujiaqi@sjtu.edu.cn") 13-liujiaqi@sjtu.edu.cn
                | &nbsp;for this lab.
    hr

    div.container.bgwhite
        div.col-md-8
            h1.text-center Tensorflow Lab2: Papers Classification and Visualization
            p
                strong Introduction:
                | &nbsp; This lab focus on introducing the basic nlp methods and implementing them on a specific topic, to classify and visualize papers. In this lab, you will learn some basic concepts and steps in natural language processing and realize them using Python. Moreover, you will use Tensorflow to build your model and Tensorboard to visualize the results.
            p
                | If you want to download the lab manual, please send e-mail to &nbsp;
                a(href="mailto:xwang8@sjtu.edu.cn") xwang8@sjtu.edu.cn
                | &nbsp;or&nbsp;
                a(href="mailto:13-liujiaqi@sjtu.edu.cn") 13-liujiaqi@sjtu.edu.cn
                | &nbsp;for this lab.
        img.col-md-4(src="images/lab/lab13.jpg", height=300, width=300)
    hr



    div.container.bgwhite
        img.col-md-8(src="images/lab/lab1.png", height=270, width=700)
        div(class="col-md-4")
            h1.text-center Lab1: NS2 Warm Up
            p
                strong Introduction:
                | &nbsp; In this section, we are going to develop a Tcl script for ns which simulates a simple topology.
                |we are going to learn how to set up nodes and links, how to send data from one node to another, how to
                |monitor a queue and how to start nam from simulation script to visualize simulation.
    hr
    div.container.bgwhite
        div(class="col-md-4")
            h1.text-center Lab2: TCP over Ad Hoc Networks
            p
                strong Introduction:
                | &nbsp; The experiment will make you get familiar with NS2 wireless simulation process. Through some
                |simple scenarios, you will get intuition of different routing protocols,e.g. DSDV, AODV, DSR. These
                |knowledge will be the fundamentals of your further research. You are expected to follow the instructions
                |in the first part and do some of new test based on this.
                br
        img(src="images/lab/lab2.png", height=270, width=700, class="col-md-8")
    hr
    div.container.bgwhite
        img(src="images/lab/lab3.png", height=270, width=700, class="col-md-6")
        div(class="col-md-6")
            h1.text-center Lab3: Ad Hoc Routing
            p
                strong Description of Ad Hoc routing Testbed:
                | &nbsp; In this experiment you will use 3 laptops to configured to communicate in ad hoc mode. The laptops
                |directly communicate with each other in peer-to-peer mode, without going through 802.11g access points.
                |The topology of the ad hoc routing testbed is shown as the figure.
                |In the above setup, you will use MAC address blocking feature of the iptables utility such that computer
                |A cannot communicate directly with computer C and computer C cannot communicate directly with computer A.
                |This is done to simulate a real-world ad hoc network scenario where computer A is out of the transmission
                |range of computer C, but computer B can reach both computer A and computer C (thus it can act as
                |intermediate hop to forward packets from computer A to computer C) within the confines of the lab.
                |Though we can decrease the transmission power of WLAN card to really simulate a multi-hop scenario, we will
                |leave it to further research.
    hr
    div.container.bgwhite
        div(class="col-md-4")
            h1.text-center Lab4: Mobile IP
            p
                strong Introduction:
                |&nbsp; This document describes the software and procedures to set up and use mobile IPv6 for Linux.
        img(src="images/lab/lab4.png", height=470, width=470, class="col-md-8")
    hr
    div.container.bgwhite
        h1.text-center Lab5: Wireless Security
        p
            strong Introduction:
            | &nbsp; Shown in the two figures, one wireless testbed is divided into two sections, wired and wireless. The wired
            |network consists of two hubs, four computers and two access points. The PC router is named STREETCAR in
            |testbed A or CABARET in testbed B. On either side of the router, there is one VLAN, totally 2 VLANs. The
            |computer router acts as a connector as well as a gateway for the computers on either side of each VLAN. In
            |each VLAN, one of the computers is playing the role of gateway or router to forward the packets between
            |wired and wireless networks. WESTSIDE and DREAMCOAT in testbed A, SAIGON and RENT in testbed B are all
            |connected to a wireless access point, which then acts as a connector to the wireless devices, iPAQs. The
            |infrastructures of testbed A and B are illustrated in the two figures.
            |&nbsp; Wired Equivalent Privacy(WEP) is an IEEE standard security protocol for wireless 802.11 networks.
            |Introduced in 1997, WEP was found to be very inadequate and was superseded by WPA, WPA2 and 802.11i. Its
            |authentication method was extremely weak and even helped an attacker decipher the secret encryption key.
            |As a result, WEP authentication was dropped from the Wi-Fi specification.
        img(src="images/lab/lab5-1.png", height=470, width=700, class="col-md-6")
        img(src="images/lab/lab5-2.png", height=470, width=700, class="col-md-6")
    br
    div.container.bgwhite
        div(class="col-md-4")
            h1.text-center Lab6: Teaching Assistant
            p
                strong procedure:
                br
                |1. install jdk
                br
                |2. configure jdk
                br
                |3. install Android SDK
                br
                |4. install eclipse+ADT
                br
            |   5. test
        img(src="images/lab/lab6.png", height=470, width=700, class="col-md-8")
    hr
    div.container.bgwhite
        h1.text-center Lab7: SDN 实验
        p
            strong 实验目的:
            | &nbsp; 熟悉 SDN 的基本操作;修改并增加程序的功能。
    hr
    div.container.bgwhite
        img(src="images/lab/lab8.png", height=470, width=700, class="col-md-8")
        div(class="col-md-4")
            h1.text-center Lab8: Measurement of WiFi Signal Strength
            p
                strong The Purpose:
                | &nbsp; Get used to the WiFi system and accomplish the sampling and measuring of WiFi signal strength through
                |programming in Android on smartphone.
    hr
    div.container.bgwhite
        div(class="col-md-4")
            h1.text-center Lab9: Android Pedometer
            p
                strong Purpose
                br
                |(1) By programming an Android pedometer program using mobile platform,we learn
                |to familiarize the calling methods of mobile platform sensors.
                br
                |(2) Simple mobile apps’ design and implementation.
        img(src="images/lab/lab9.png", height=470, width=700, class="col-md-8")
    hr
    div.container.bgwhite
        img(src="images/lab/lab10.png", height=470, width=700, class="col-md-8")
        div(class="col-md-4")
            h1.text-center Lab10: 2 × 2 MIMO System
            p
                strong Introduction
                |&nbsp;With MIMO, you can increase wireless system performance without increasing power consumption. When you use
                |multiple antennas, the transmitted signal progresses through different wireless channels (from the
                |transmitter antennas to the receiver antennas) and creates a capacity gain by exploiting channel diversity.
                br
                |Refer to
                a(href='http://en.wikipedia.org/wiki/MIMO') http://en.wikipedia.org/wiki/MIMO
                |&nbsp;for more information about MIMO.
    hr
    div.container.bgwhite
        h1.text-center Lab11-option1: ARTcode experiment
        p
            strong Introduction:
            |&nbsp; In this project, we will take you onto the journey of learning and understanding ARTcode. ARTcode was one
            |of our research projects. The goal of ARTcode is to create a code that serves as a barcode and can help
            |users identify the contents of the barcode at the same time. The detailed information of ARTcode can be
            |found at this address:&nbsp;
            a(href='http://dl.acm.org/citation.cfm?id=2971733') http://dl.acm.org/citation.cfm?id=2971733.&nbsp;
            |You can click on “PDF” and obtain an explanation of ARTcode.
            br
            |The prerequisite of this project includes K-means clustering and MATLAB programming. If you are not
            |familiar with MATLAB, now is the time for you to grasp it.
            br
            |Before we make any move, firstly we would like to give you a brief introduction on our ARTcode
            |implementation MATLAB programs.
            br
            |In ARTcode experiment folder, there are a number of MATLAB files, some data files, and a folder. The folder
            |contains some testing images that you can work on. Of course you can put in your own images. Just don’t
            |forget to adjust the image size (128*128)!
            br
            |The MATLAB files in ARTcode experiment folder generate an ARTcode. The main function is encodeMain.m.
            |Don’t panic, important information are provided in comments. Oh, another tip, you might want to read the
            |questions first before you try to understand the MATLAB functions.
    hr
    div.container.bgwhite
        div(class="col-md-4")
            h1.text-center Lab11-option2: MiraCode Experiment
            p
                strong Introduction:
                |&nbsp;MiraCode is a multi-colored barcode which is used for data transmission. Compare with existing barcodes,
                |MiraCode uses 16 colors which makes its unit block capacity four times as the wide used QR code.
        img(src="images/lab/lab11-2.png", height=400, width=700, class="col-md-8")
    include _footer