extends _base

block vars
    -var title = "Student Work"

block content
    include _header
    div.container
        h1.text-center TPC Meeting 2017
        br
        div.container
            //img.center-block(src="images/meeting/201701.jpg" height='400px')
            img.center-block(src="images/meeting/201702.jpg" height='400px')
            //img.center-block(src="images/meeting/201703.jpg" height='300px')
            //img.center-block(src="images/meeting/201704.jpg" height='400px')

    include _footer