extends _base

block vars
    -var title = "Student Work"

block content
    include _header
    div#class2018.container
        h1.text-center Class 2018
        br
        div.container
            img.center-block(src="images/meeting/class201801.jpg" height='600px')
            h3.text-center 上市总裁走进课堂分享经验
    br
    div#tpc2017.container
        h1.text-center TPC Meeting 2017
        br
        div.container
            img.center-block(src="images/meeting/201702.jpg" height='400px')
            br
            img.center-block(src="images/meeting/201705.jpg" height='550px')


    include _footer