extends _base
block vars
    -var title = "Project"
block content
    include _header
    div.container.bgwhite
        h1.text-center Course Project

        h3 Goal
        p The objective of this course project is allow students to have an in-depth understanding and more visible experience (via either simulations or hands-on experiments) with one of the topics covered in this class.  There are five suggested projects and you can choose any one of them in the capacity of equipment. All these projects require a fair amount of work (read "lots of work").

        h3 How to start?
        ol
            li Read the section of suggested projects and this is the individual project.Everyone is expected to domenstrate his/her own independing thinking and solving problems' capability.
            li Send your project topic to the TA by April 2th.
            li Submit a two-page progress report from each one to the Dr. Wang every Monday. In this report, list and explain what you have done in the past week, are the risks/threats to the project (i.e. what might go wrong),  and what you are going to do in the next week. The team leader does not need to be the one to write the progress report (he/she might assign it to a team member), but the team leader is the one to take the blame (and a one point penalty) if it is not submitted on time.

        h3 Deliverables and grading
        p At the end of the project it is expected that the students will make a practical demonstration and oral presentation, will turn in their properly commented code, and a written report both soft copy and hard copy. All the reports, demos, score sheets must be turned in no later than 5:00pm, June 19, 2016.
        p Project report: Each team is expected up up to 20-page, that includes the description of project, objectives, practical problems and solutions, software and hardware, results, explanations, conclusions, and references. The commented source code, specifications of software and hardware, and references are excluded in the report, but they are submitted as appendix.
        p Presentation and peer review: For demos and presentation, everyone is encouraged to participate, discuss, and score a peer review report. The participation and your comments count 5%. All arrangement will be posted on the Announcement page. Presentations will be scheduled on the due day of the project for peer review.  Each group will have a 15-minute slot for presenting your project features and strength. 3 minutes will be remained for Q&A.
        p Grading: The projects from each person will be graded.

        h3 Check equipment out
        p Except for simulation-based projects, hardware are needed for hands-on projects. We have a common list of resources that we can use for this lab. Each student will be able to check in and out different resources (e.g. iPAQ, notebook, GPS receivers, trucks, wireless cards, etc.) from the TA. If one resource is in short supply, the resource will have to be time-shared (e.g. returned after one week).
        p Anything you break you have to replace. For example a screen replacement for the iPAQs is around 2000RMB.
        p Anytime you check something out (from the TA.) you'll have to do the following two things:
        ul
            li Sign a paper that you did check out stuff (including what, and their serial numbers for each item), and
            li Send an email to the TA. with the what and the serial numbers of every item that you checked out.


        h3 Suggested Projects
        ol
            li Acemap: topic analysis
            li Resource Allocation for Selfish Network for Non-cooperatavie Networks
            li Bluetooth for Ad-Hoc Networking
            li App development of Wearable Computing
            li Bluetooth Cochlear
            li crowdsourcing incentive design in fingerprints based localization
            li Indoor LocalizationNetwork functions virtualization (NFV)
            li Admission Control in Cooporative Systems:Cellular + WiFi + WiMax :
            li Recommendation in Scholarly Big Data
            li Intelligent Handoff in Mobile IP Networks
            li Geocasting Protocol for Mobile Adhoc Networks
            li Comparison of Routing Protocols for Mobile Adhoc Networks
            li Energy issues in wireless networking
            li Voice over Adhoc Networks
            li QoS in Wireless LANs,e.g. VoIP
            li New MAC for Sensor Networks
            li Transport Layer Protocol for Sensor Networks:
            li Routing in Sensor Networks:
            li Distributed Resource Allocation for Hybrid Networks
