extends _base
block vars
    -var title = "Schedule"
block content
    include _header
    div.container.bgwhite
        h1.text-center Class Schedule & Requirements
        p.text-center Note: This may change. Check frequently for updates!<br>Lecture notes, homework assignments/solutions, and project description will be posted here.
        br
        table.table.table-bordered.table-hover.table-responsive.table-striped
            thead
                tr
                    th 教学内容
                    th 学时
                    th 教学方式
                    th 作业及要求
                    th 基本要求
                    th 考查方式
            tbody
                tr
                    th Introduction
                    th 2
                    th Classroom
                    th Homework
                    th Basic knowledge
                    th Exam
                tr
                    th Radio Propagation
                    th 2
                    th Classroom
                    th Homework
                    th Basic knowledge
                    th Exam
                tr
                    th Cellular Networks
                    th 4
                    th Classroom
                    th Homework
                    th Basic knowledge
                    th Exam
                tr
                    th Media Access Control (MAC)
                    th 2
                    th Classroom
                    th Homework
                    th Basic knowledge
                    th Exam
                tr
                    th Ad hoc networks
                    th 4
                    th Classroom
                    th Homework
                    th Basic knowledge
                    th Exam
                tr
                    th Wireless Security
                    th 2
                    th Classroom
                    th Homework
                    th Basic knowledge
                    th Exam
                tr
                    th Network Geometry
                    th 2
                    th Classroom
                    th Homework
                    th Basic knowledge
                    th Exam
                tr
                    th Social Networks
                    th 2
                    th Classroom
                    th Homework
                    th Basic knowledge
                    th Exam
                tr
                    th Game Theory
                    th 2
                    th Classroom
                    th Homework
                    th Basic knowledge
                    th Exam
                tr
                    th Network Economics
                    th 2
                    th Classroom
                    th Homework
                    th Basic knowledge
                    th Exam
                tr
                    th Wireless Sensor Networks
                    th 2
                    th Classroom
                    th Homework
                    th Basic knowledge
                    th Exam
                tr
                    th Research project presentation
                    th 6
                    th Classroom
                    th PPT
                    th Integration Capability
                    th Presentation
                tr
                    th Lab
                    th 16
                    th Lab
                    th Lab report
                    th engineering capacity
                    th Test
    include _footer