extends _base

block vars
    -var title = "School List"

block content
    include _header
    div.container
        h1.text-center
            strong Platform Members
        a(href="coursePages/SJTU_Mobile_and_Wireless_Networking.html")
            div.panel.panel-warning.schoolType
                div.panel-heading
                    h3.panel-title
                        strong Shanghai Jiao Tong University
                div.panel-body
                    img.autoSize(src="images/schoollogo/sjtu.png")
                    h3 Mobile and Wireless Networking
        a(href="coursePages/PKU_Wireless_Networking.html")
            div.panel.panel-warning.schoolType
                div.panel-heading
                    h3.panel-title
                        strong Peking University
                div.panel-body
                    img.autoSize(src="images/schoollogo/pku.png")
                    h3 Wireless Networking
        a(href="coursePages/PKU_Computer_Networks.html")
            div.panel.panel-warning.schoolType
                div.panel-heading
                    h3.panel-title
                        strong Peking University
                div.panel-body
                    img.autoSize(src="images/schoollogo/pku.png")
                    h3 Computer Networks
        a(href="coursePages/Beijingligong_Software_Engineering.html")
            div.panel.panel-warning.schoolType
                div.panel-heading
                    h3.panel-title
                        strong Beijing Institute of Technology
                div.panel-body
                    img.autoSize(src="images/schoollogo/beijingligong.jpg")
                    h3 Software Engineering
        a(href="coursePages/NJU_IOT.html")
            div.panel.panel-warning.schoolType
                div.panel-heading
                    h3.panel-title
                        strong Nanjing University
                div.panel-body
                    img.autoSize(src="images/schoollogo/nju.png")
                    h3 Introduction of Internet of Things
        a(href="coursePages/ZJU_Computer_Networks.html")
            div.panel.panel-warning.schoolType
                div.panel-heading
                    h3.panel-title
                        strong ZheJiang University
                div.panel-body
                    img.autoSize(src="images/schoollogo/zju.png")
                    h3 Computer Networks
        a(href="")
            div.panel.panel-warning.schoolType
                div.panel-heading
                    h3.panel-title
                        strong Fudan University
                div.panel-body
                    img.autoSize(src="images/schoollogo/fdu.png")
                    h3 Wireless Networking (Constructing)
        a(href="")
            div.panel.panel-warning.schoolType
                div.panel-heading
                    h3.panel-title
                        strong BeiHang University
                div.panel-body
                    img.autoSize(src="images/schoollogo/bjhk.jpg")
                    h3 Wireless Networking (Constructing)
        a(href="")
            div.panel.panel-warning.schoolType
                div.panel-heading
                    h3.panel-title
                        strong Xidian University
                div.panel-body
                    img.autoSize(src="images/schoollogo/xadz.jpg")
                    h3 Wireless Networking (Constructing)
        a(href="")
            div.panel.panel-warning.schoolType
                div.panel-heading
                    h3.panel-title
                        strong Harbin Institute of Technology
                div.panel-body
                    img.autoSize(src="images/schoollogo/hit.jpg")
                    h3 Wireless Networking (Constructing)
        a(href="")
            div.panel.panel-warning.schoolType
                div.panel-heading
                    h3.panel-title
                        strong Taiyuan University of Technology
                div.panel-body
                    img.autoSize(src="images/schoollogo/tylg.jpg")
                    h3 Wireless Networking (Constructing)
        a(href="")
            div.panel.panel-warning.schoolType
                div.panel-heading
                    h3.panel-title
                        strong Fuzhou University
                div.panel-body
                    img.autoSize(src="images/schoollogo/fzu.jpg")
                    h3 Wireless Networking (Constructing)
        a(href="")
            div.panel.panel-warning.schoolType
                div.panel-heading
                    h3.panel-title
                        strong Donghua University
                div.panel-body
                    img.autoSize(src="images/schoollogo/donghua.png")
                    h3 Wireless Networking (Constructing)
        a(href="")
            div.panel.panel-warning.schoolType
                div.panel-heading
                    h3.panel-title
                        strong Shanghai University of Electric Power
                div.panel-body
                    img.autoSize(src="images/schoollogo/shdl.jpg")
                    h3 Wireless Networking (Constructing)


        h1.text-center.clear
            strong World-wide Courses

        a(href="http://web.stanford.edu/class/cs444n/")
            div.panel.panel-warning.schoolType
                div.panel-heading
                    h3.panel-title
                        strong Stanford University
                div.panel-body
                    img.autoSize(src="images/schoollogo/stanford.png")
                    h3 Mobile and Wireless Networks and Applications
        a(href="coursePages/UIUC_CS_598.html")
            div.panel.panel-warning.schoolType
                div.panel-heading
                    h3.panel-title
                        strong University of Illinois at Urbana-Champaign
                div.panel-body
                    img.autoSize(src="images/schoollogo/uiuc.png")
                    h3 Advanced Topics in Wireless Networks

        a(href="https://courses.engr.illinois.edu/cs439/index.html")
            div.panel.panel-warning.schoolType
                div.panel-heading
                    h3.panel-title
                        strong University of Illinois at Urbana-Champaign
                div.panel-body
                    img.autoSize(src="images/schoollogo/uiuc.png")
                    h3 Wireless Networks

        a(href="https://canvas.harvard.edu/courses/18367")
            div.panel.panel-warning.schoolType
                div.panel-heading
                    h3.panel-title
                        strong Harvard University
                div.panel-body
                    img.autoSize(src="images/schoollogo/harvard.png")
                    h3 Communication Protocols and Internet Architectures

        a(href="http://inst.eecs.berkeley.edu/~ee122/archives.html")
            div.panel.panel-warning.schoolType
                div.panel-heading
                    h3.panel-title
                        strong University of California, Berkeley
                div.panel-body
                    img.autoSize(src="images/schoollogo/ucb.png")
                    h3 Introduction to Communication Networks
        a(href="https://courses.cit.cornell.edu/cs2850_2016fa/")
            div.panel.panel-warning.schoolType
                div.panel-heading
                    h3.panel-title
                        strong Cornell University
                div.panel-body
                    img.autoSize(src="images/schoollogo/cornell.png")
                    h3 Computer Networks
        a(href="http://courses.cms.caltech.edu/cs143/")
            div.panel.panel-warning.schoolType
                div.panel-heading
                    h3.panel-title
                        strong California Institute of Technology
                div.panel-body
                    img.autoSize(src="images/schoollogo/cit.png")
                    h3 Communication Networks

        a(href="http://www.cs.princeton.edu/courses/archive/spring17/cos598A/index.html")
            div.panel.panel-warning.schoolType
                div.panel-heading
                    h3.panel-title
                        strong Princeton University
                div.panel-body
                    img.autoSize(src="images/schoollogo/princeton.png")
                    h3 Wireless Networking and Sensing Systems
        a(href="http://www.cs.princeton.edu/courses/archive/spring17/cos461/")
            div.panel.panel-warning.schoolType
                div.panel-heading
                    h3.panel-title
                        strong Princeton University
                div.panel-body
                    img.autoSize(src="images/schoollogo/princeton.png")
                    h3 Computer Networks
        a(href="https://www.ece.gatech.edu/courses/course_outline/ECE4607")
            div.panel.panel-warning.schoolType
                div.panel-heading
                    h3.panel-title
                        strong Georgia Institute of Technology
                div.panel-body
                    img.autoSize(src="images/schoollogo/git.png")
                    h3 Mobile and Wireless Networks
        a(href="coursePages/UTEXAS_CS395T_Wireless_Networking.html")
            div.panel.panel-warning.schoolType
                div.panel-heading
                    h3.panel-title
                        strong University of Texas at Austin
                div.panel-body
                    img.autoSize(src="images/schoollogo/utexas.png")
                    h3 Wireless Networking

        a(href="https://courses.cs.washington.edu/courses/csep561/13au/")
            div.panel.panel-warning.schoolType
                div.panel-heading
                    h3.panel-title
                        strong University of Washington
                div.panel-body
                    img.autoSize(src="images/schoollogo/washington.png")
                    h3 PMP Network Systems

        a(href="https://open.umich.edu/find/open-educational-resources/information/si-508-networks-theory-application#syllabus")
            div.panel.panel-warning.schoolType
                div.panel-heading
                    h3.panel-title
                        strong University of Michigan
                div.panel-body
                    img.autoSize(src="images/schoollogo/umich.png")
                    h3 Networks: Theory and Application
        a(href="http://www.eecs.umich.edu/courses/eecs589/")
            div.panel.panel-warning.schoolType
                div.panel-heading
                    h3.panel-title
                        strong University of Michigan
                div.panel-body
                    img.autoSize(src="images/schoollogo/umich.png")
                    h3 Advanced Computer Networks

        a(href="http://www.telecom.umd.edu/courselist")
            div.panel.panel-warning.schoolType
                div.panel-heading
                    h3.panel-title
                        strong University of Maryland
                div.panel-body
                    img.autoSize(src="images/schoollogo/maryland.png")
                    h3 Telecommunications Program
        a(href="http://cseweb.ucsd.edu/classes/fa15/cse222A-a/index.html")
            div.panel.panel-warning.schoolType
                div.panel-heading
                    h3.panel-title
                        strong University of California, San Diego
                div.panel-body
                    img.autoSize(src="images/schoollogo/ucsd.png")
                    h3 Graduate Networking
        a(href="https://www.coursehero.com/sitemap/schools/108-Purdue-University/courses/3275222-CNIT34600/")
            div.panel.panel-warning.schoolType
                div.panel-heading
                    h3.panel-title
                        strong Purdue University
                div.panel-body
                    img.autoSize(src="images/schoollogo/purdue.png")
                    h3 Wireless Networks
        a(href="UNM_Wireless_Communication_and_Sensor_Networks.html")
            div.panel.panel-warning.schoolType
                div.panel-heading
                    h3.panel-title
                        strong University of New Mexico
                div.panel-body
                    img.autoSize(src="images/schoollogo/unm.png")
                    h3 Wireless Networks

    include _footer