extends _base

block vars
    -var title = "Student Work"

block content
    include _header
    div.container 
        h1.text-center Student Work(学生风采)
        br
        h2.text-center 2018
        a(href="Junior_normal_2018.html")
            div.panel.panel-warning.classType
                div.panel-heading
                    h3.panel-title
                        strong 大三普通班
                div.panel-body
                    img.autoSize(src="images/photos/photo20181.jpg")

        a(href="Junior_IEEE_2018.html")
            div.panel.panel-info.classType
                div.panel-heading
                    h3.panel-title
                        strong 大三IEEE班
                div.panel-body
                    img.autoSize(src="images/photos/photo20183.jpg")

        a(href="Freshman_2018.html")
            div.panel.panel-success.classType
                div.panel-heading
                    h3.panel-title
                        strong 大一IEEE班
                div.panel-body
                    img.autoSize(src="images/photos/photo20182.jpg")
        br.clear

        div.best-pre
            a.button.button-pill.button-glow.button-3d(href="photos.html#class2018")
                strong.black Class Photo

        h2.text-center 2017
        a(href="Junior_normal_2017.html")
            div.panel.panel-warning.classType
                div.panel-heading
                    h3.panel-title
                        strong 大三普通班
                div.panel-body
                    img.autoSize(src="images/photos/photo20173.jpg")

        a(href="Junior_IEEE_2017.html")
            div.panel.panel-info.classType
                div.panel-heading
                    h3.panel-title
                        strong 大三IEEE班
                div.panel-body
                    img.autoSize(src="images/photos/photo20176.jpg")

        a(href="Freshman_2017.html")
            div.panel.panel-success.classType
                div.panel-heading
                    h3.panel-title
                        strong 大一IEEE班
                div.panel-body
                    img.autoSize(src="images/photos/photo20174.jpg")
        br.clear

        div.best-pre
            a.button.button-pill.button-glow.button-3d(href="photos.html#tpc2017")
                strong.black TPC Meeting Photo

        h2.text-center 2016
        a(href="Junior_normal.html")
            div.panel.panel-warning.classType
                div.panel-heading
                    h3.panel-title
                        strong 大三普通班
                div.panel-body
                    img.autoSize(src="images/photos/photo1.jpg")

        a(href="Junior_IEEE.html")
            div.panel.panel-info.classType
                div.panel-heading
                    h3.panel-title
                        strong 大三IEEE班
                div.panel-body
                    img.autoSize(src="images/photos/photo2.jpg")

        a(href="Freshman.html")
            div.panel.panel-success.classType
                div.panel-heading
                    h3.panel-title
                        strong 大一IEEE班
                div.panel-body
                    img.autoSize(src="images/photos/photo3.jpg")
        br.clear

        div.best-pre
            a.button.button-pill.button-glow.button-3d(href="http://pan.baidu.com/s/1qX9iD8S")
                strong.black Watch Best Pesentations >>


        h2.text-center 2015

        a(href="Junior_normal_2015.html")
            div.panel.panel-warning.classType
                div.panel-heading
                    h3.panel-title
                        strong 大三普通班
                div.panel-body
                    img.autoSize(src="images/photos/photo4.jpg")
        a(href="Junior_IEEE_2015.html")
            div.panel.panel-warning.classType
                div.panel-heading
                    h3.panel-title
                        strong 大三IEEE班
                div.panel-body
                    img.autoSize(src="images/photos/photo5.jpg")


        br.clear
        h2.text-center 2014

        a(href="Junior_normal_2014.html")
            div.panel.panel-warning.classType
                div.panel-heading
                    h3.panel-title
                        strong 大三普通班
                div.panel-body
                    img.autoSize(src="images/photos/photo6.jpg")
        a(href="Junior_IEEE_2014.html")
            div.panel.panel-warning.classType
                div.panel-heading
                    h3.panel-title
                        strong 大三IEEE班
                div.panel-body
                    img.autoSize(src="images/photos/photo7.jpg")


        br.clear
        h2.text-center 2008-2013

        div.centerA
            a(href="Junior_normal_2013.html").classType1.zoomimg
                img.autoSize(src="images/photos/photo8.jpg")

            a(href="Junior_normal_2012.html").classType1.zoomimg
                img.autoSize(src="images/photos/photo9.jpg")

            a(href="Junior_normal_2011.html").classType1.zoomimg
                img.autoSize(src="images/photos/photo10.jpg")

            a(href="Junior_normal_2010.html").classType1.zoomimg
                img.autoSize(src="images/photos/photo11.jpg")

            a(href="Junior_normal_2009.html").classType1.zoomimg
                img.autoSize(src="images/photos/photo12.jpg")

            a(href="Junior_normal_2008.html").classType1.zoomimg
                img.autoSize(src="images/photos/photo13.jpg")


    include _footer